<head>
  <!-- Page styles -->
  <link type='text/css' href='/stylesheets/popup.css' rel='stylesheet' media='screen' />

  <%= javascript_include_tag 'jscal2/jscal2' %>
  <%= javascript_include_tag 'jscal2/lang/cn.js' %>


  <link rel="stylesheet" type="text/css" href="/stylesheets/jscal2/jscal2.css" />
  <link rel="stylesheet" type="text/css" href="/stylesheets/jscal2/border-radius.css" />


  <script type="text/javascript">

  $(document).ready(function ()
  {

     //~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
     //  btn - reset all
     //
     $('#reset_all').unbind('click').click(function()
     {

        for(i=0;i<($('input').length);i++)
        {
            if( $('input')[i].name != "each_tag" && $('input')[i].name != "friend_filter" &&
                $('input')[i].name != "date")
            {
                continue ;
            }

            $('input')[i].checked = false ;

        }

         for(i=0;i<($('label').length);i++)
         {
             if( $('label')[i].id != "date_label")
             {
                 continue ;
             }

             $('label')[i].lastChild.textContent = "<%= t(:no_limit) %> " ;
         }

        return false ;   // to prevent click event would be issued twice!
     }  );
      //
      // end of "#reset_all".click callback function


  }  );
  //
  // end of "$(document).ready callback function


 </script>


</head>


<!-- 2 buttons : "load my filter" & "reset the filter"
-->
<div align = "right">
  <button> <%= t(:load_my_filter)%> </button>
  <button id = "reset_all"> <%= t(:reset_the_filter) %> </button>
</div>
<hr>





<!-- (ask server to) get and show all News-Tags
-->
<div align = "left">
  <h3><%= t(:filter_by_tag)%> </h3>
</div>

<div class = "all_tags" align = "left" >
  <%# !!!!!!!!!!! Todo1:  將所有tags排整齊    %>
  <%# !!!!!!!!!!! Todo2:  sub-tag用不同字體 or color    %>

  <% @tags.each do |tag| %>
    <%# using type and name to identify each Input/Checkbox here %>
    <input type="checkbox" name ="each_tag" id="<%= tag.name %>"> <%= t(tag.name.to_sym) %> </input>
    &nbsp;&nbsp;&nbsp;

    <% if ( (tag.id == 1) || (tag.id - 1) % 6 == 0)  %>
      <br>
    <% end %>
  <% end %>


</div>

<hr>



<!-- 2 checkbox - my news only & my friends' news only
-->
<div align = "left">
  <h3><%= t(:filter_by_friend)%></h3>
  <input type="checkbox" id="my_news_only" name="friend_filter"> <%= t(:my_news_only)%> <br>  </input>
  <input type="checkbox" id="my_friends_news_only" name="friend_filter"> <%= t(:my_friends_news_only)%>  <br> </input>

</div>
<hr>


<!-- select date(select one only): today, yesterday, and date-selection-box
-->
<style type="text/css">
label   {
        color: #781351;
        background: #fee3ad;
        }
</style>

<div align = "left">
  <h3><%= t(:filter_by_date)%></h3>

    <input type="radio" name = "date" id="no_filter" value = "no_filter"> <%= t(:no_date_filter)   %>
    <br>
    <input type="radio" name = "date" id="yesterday" value = "yesterday"> <%= t(:yesterday)   %>
    &nbsp;&nbsp;&nbsp;
    <input type="radio" name = "date" id="today" value = "today"> <%= t(:today)%>
    <br>


    <input type="radio" name = "date" id="filter_by_this_date" value = "select"> <%= t(:filter_by_this_date) %>
    <label id = "date_label" > <%= t(:no_limit) %>  </label>
    &nbsp;&nbsp;&nbsp;
    <input type="button" id="date_btn" value="<%= t(:select_date) %>" />
    <br>

   <script>

      Calendar.setup({
        animation  : true,
        inputField : "date_label",
        trigger    : "date_btn",
        onSelect   : function()  { this.hide() },
        showTime   : false,
        dateFormat : "%Y-%m-%d"
      });
    </script>

</div>
<hr>



<!-- 3 buttons
-->
<div align = "right">
  <button> <%= t(:filter_save_as_default)%> </button>
  <button class="simplemodal-close"> <%= t(:filter_cancel) %>  </button>
  <input type="submit" id="save_filter" value="<%= t(:filter_ok) %>">  </input>
</div>
<hr>
