<% app_mode = :native %>
<% if  (request.url).include?('daily')  %>
<%    app_mode = :daily_news %>
<% end %>

<% if news != nil %>
  <% news.each_with_index do |news,news_index| %>
    <% style_str=(news_index==0 && session[:news_type] == 'rank')?"style='padding:5px; border-color: #bdc7d8;border-style:dashed;background: #edeff4;'":"" %>
    <div class="news" id="news_<%= news.id %>" <%= style_str %>>
      <script type="text/javascript">
      jQuery('#news_<%= news.id %>').hover(function() {
          $('#spam_report_<%= news.id %>').show();
      }, function() {
          $('#spam_report_<%= news.id %>').hide();
      });
      </script>
      <div class="news_title">
        <% if (news.special_flag==false) %>
          <% url=news_index_path+'/'+news.fb_obj_url %>
        <% else %>
          <% url=news_index_path+'/'+news.id.to_s %>
        <% end %>

        <!-- highlight the date -->
        <span style = "color: red; ">
        <% if app_mode == :daily_news %>
            <% if session[:default_locale] == "en" %>
                <%= news.created_at.in_time_zone("Central Time (US & Canada)").strftime("%Y/%m/%d") %>
            <% else %>
                <%= news.created_at.in_time_zone("Taipei").strftime("%Y/%m/%d") %>
            <% end %>
        <% end %>
        </span>
        <br>

        <a title="<%= news.title %>" href="<%= url %>" onclick="window.open('<%= url %>'); return false;"><%= news.title %></a>
      </div>

      <div class="spam_report" id="spam_report_<%= news.id %>">
        <a id='report_spam<%= news_index %>'  title="<%= t(:report_spam) %>" href="javascript:void(null)" onclick="report_the_spam( <%= news.id %>,'<%= news.title %>')">x</a>
      </div>

      <div class="info">
        <!-- OKOK: 時區需要判斷  -->
        <%= t(:info_1) %> <%= news.user.first_name %> <%= t(:info_2) %>
        <% if session[:default_locale] == "en" %>
            <%= news.created_at.in_time_zone("Central Time (US & Canada)").strftime("%Y/%m/%d %H:%M") %>
        <% else %>
            <%= news.created_at.in_time_zone("Taipei").strftime("%Y/%m/%d %H:%M") %>
        <% end %>
        <%= t(:info_3) %>, <%= t(:watched) %>: <%= news.watch_count %>, <%= t(:info_tags) %>:

        <% news.tags.each_with_index do |tag, index| %>
          <%= "/" if (index != 0) %>
          <a href="javascript:void(null)" onclick="set_tag('<%= tag.name %>')" ><%= t(tag.name.to_sym) %></a>

        <% end %>
      </div>

      <div class="image">
         <% if news.images != [] && news.images[0].url != "" %>
            <img src="<%=news.images[0].url.to_s%>" alt="image" width="150" onerror="javascript:this.src='http://www.heygotimes.com/images/newspaper_bw.jpg'">
         <% end %>
      </div>

      <div class="news_content">
        <%= news.content.html_safe %>
      </div>

      <div style="clear: both;"></div>
    </div> <!-- news -->

    <div class="comments">
      <% fb_obj_url = get_fb_obj_url(news) %>
      <% if news_sub_type != "feedback" %>
        <div class="button_group">
          <span class='share_count count_span' id='share_count<%= news.id %>'><%= news.share_count %></span><a style="float: right;" href="javascript:void(null)" onclick="share('<%= news.id %>', '<%= fb_obj_url %>', '<%= news.title %>');" title="<%= t(:share_hint) %>"><img class="button-icon-share"  id='share_icon<%= news_index %>' src="/images/facebook_icon.png" alt="" /></a>
          <span class='unlike_count count_span' id='unlike_count<%= news.id %>'><%= news.unlike_count %></span><a style="float: right;" href="javascript:void(null)" onclick="like(<%= session[:id] %>, <%= news.id %>, 0);"><img class="button-icon-unlike" id='unlike_icon<%= news_index %>' src="/images/unlike_button.png" alt="" /></a>
          <span class='like_count count_span' id='like_count<%= news.id %>'><%= news.like_count %></span><a style="float: right;" href="javascript:void(null)" onclick="like(<%= session[:id] %>, <%= news.id %>, 1);"><img class="button-icon-like" id='like_icon<%= news_index %>' src="/images/like_button.png" alt="" /></a>
        </div>
      <% end %>

      <div class="comment_title" id="comment_title_<%= news.id %>" onclick="expand_comment(<%= news.id %>, '<%= fb_obj_url %>');"><a href="javascript:void(null)"><%= t(:comments)%></a><span id='expand_comment<%= news.id %>'><a href="javascript:void(null)"><%= '(' + news.comment_count.to_s + ')' %><img class="button-icon-expand" src="/images/expand.png" alt=""/></a></span></div>

      <div class="fb_comment" id="fb_comment<%= news.id %>">
        <!--<div id="fb-root"></div>-->

      </div> <!-- fb_comment -->
      <div style="clear: both;"></div>
    </div> <!-- comments -->

    <%# if (index != 0) %>
      <hr>
    <%# end %>
  <% end %>
<% end %>


