<head>
  <!-- Page styles -->
  <link type='text/css' href='/stylesheets/popup.css' rel='stylesheet' media='screen' />

  <%= javascript_include_tag 'jscal2/jscal2' %>
  <%= javascript_include_tag 'jscal2/lang/cn.js' %>


  <link rel="stylesheet" type="text/css" href="/stylesheets/jscal2/jscal2.css" />
  <link rel="stylesheet" type="text/css" href="/stylesheets/jscal2/border-radius.css" />


</head>


<!-- 2 buttons : "load my filter" & "reset the filter"
-->
<div align = "right">
  <input type = "button"  value = <%= t(:load_my_filter)%> />
  <input type = "button" value = <%= t(:reset_the_filter) %> />
</div>
<hr>



<!-- (ask server to) get and show all News-Tags
-->
<div align = "left">
  <h3><%= t(:filter_by_tag)%> </h3>



</div>
<hr>



<!-- 2 checkbox - my news only & my friends' news only
-->
<div align = "left">
  <h3><%= t(:filter_by_friend)%></h3>
  <input type="checkbox" /> <%= t(:my_news_only)%> <br>
  <input type="checkbox" /> <%= t(:my_friends_news_only)%>  <br>

</div>
<hr>


<!-- select date(select one only): today, yesterday, and date-selection-box
-->
<style type="text/css">
label   {
        color: #781351;
        background: #fee3ad;
        }
</style>

<div align = "left">
  <h3><%= t(:filter_by_date)%></h3>

    <input type="radio" name = "date" value = "yesterday"> <%= t(:yesterday)   %>
    <br>
    <input type="radio" name = "date" value = "today"> <%= t(:today)%>
    <br>


    <input type="radio" name = "date" value = "select"> 只顯示以下日期的新聞:
    <label id = "date_label" color = ""> 不限制  </label>
    &nbsp;&nbsp;&nbsp;
    <input type="button" id="date_btn" value=<%= t(:select_date) %>
    <br>


    <script type="text/javascript">
      Calendar.setup({
        animation  : true,
        inputField : "date_label",
        trigger    : "date_btn",
        onSelect   : function()  { this.hide() },
        showTime   : false,
        dateFormat : "%Y-%m-%d"
      });
    </script>

</div>
<hr>



<!-- 3 buttons
-->
<div align = "right">
  <input type = "button"  value = <%= t(:filter_save_as_default)%> />
  <input type = "button" value = <%= t(:filter_cancel) %> />
  <input type = "button" value = <%= t(:filter_ok) %> />
</div>
<hr>
