
<% if news != nil %>
  <% news.each_with_index do |news, index| %>
    <div class="news">
      <div class="news_title">
        <a title="<%= news.title %>" href="<%= news_index_path+'/'+news.id.to_s %>" onclick="window.open('<%= news_index_path+'/'+news.id.to_s %>'); return false;"><%= news.title %></a>
      </div>

      <div class="info">
        由 <%= news.user.first_name %> 於 <%= news.created_at.in_time_zone("Taipei").strftime("%Y/%m/%d") %> 發佈, Tags:
        <% news.tags.each do |tag| %>
            <%= t(tag.name.to_sym) + " " %>
        <% end %>
      </div>

      <div class="image">
         <% if news.images != [] %>
            <img src="<%=news.images[0].url.to_s%>" alt="image" width="150">
         <% end %>
      </div>

      <div class="news_content">
        <%= news.content.html_safe %>
      </div>

      <div style="clear: both;"></div>
    </div> <!-- news -->

    <div class="comments">
      <div class="comment_title"><%= t(:comments)%><span id='expand_comment<%= news.id %>'><a href="javascript:void(null)" onclick="expand_comment(<%= news.id %>);"><img class="button-icon-expand" src="/images/expand.png" alt=""/></a></span></div>
      <div class="button_group">
        <a href="javascript:void(null)" onclick="like(<%= session[:id] %>, <%= news.id %>, 1);"><img class="button-icon-like" src="/images/like_button.png" alt="" /></a><span class='like_count' id='like_count<%= news.id %>'><%= news.likes.count %></span>
        <a href="javascript:void(null)" onclick="like(<%= session[:id] %>, <%= news.id %>, 0);"><img class="button-icon-unlike" src="/images/unlike_button.png" alt="" /></a><span class='unlike_count' id='unlike_count<%= news.id %>'><%= news.unlikes.count %></span>
        <a href="javascript:void(null)" onclick="location.href='http://www.facebook.com/sharer.php?u=http://heygotimes.heroku.com/news/<%= news.id.to_s %>&t=<%= news.title %>'" title="<%= t(:share_hint) %>"><img class="button-icon-share" src="/images/facebook_icon.png" alt="" /></a>

        <%# 檢舉 - 視同 feedback  %>
        <a href='javascript:void(null)' name='btn1' class='osx btn1' onclick="to_report_dialog( <%= news.id %>,'<%= news.title %>')">
          <img class="button-icon-like" src="/images/stop_button.png" width="30px" height="30px"
               alt="" title="<%= t(:report_spam)%>" />
        </a>
      </div>
      <div class="fb_comment" id="fb_comment<%= news.id %>">
        <div id="fb-root"></div>
        <script>
          window.fbAsyncInit = function() {
            FB.init({appId: <%= Facebooker2.app_id %>, status: true, cookie: true,
                     xfbml: true});
          };
          (function() {
            var e = document.createElement('script'); e.async = true;

            // Todo: we need to check the locale!!!!!!!!!!!!
            //
            e.src = document.location.protocol + '//connect.facebook.net/zh_TW/all.js';

            document.getElementById('fb-root').appendChild(e);
          }());
        </script>
      </div> <!-- fb_comment -->
      <div style="clear: both;"></div>
    </div> <!-- comments -->

    <%# if (index != 0) %>
      <hr>
    <%# end %>
  <% end %>
<% end %>


