
<% if news != nil %>
  <% news.each_with_index do |news, index| %>
    
    <div id="news">
      <div id="news_title">
        <h3>
          <a title="<%= news.title %>" href="<%= news_index_path+'/'+news.id.to_s %>" onclick="window.open('<%= news_index_path+'/'+news.id.to_s %>'); return false;"><%= news.title %></a>
        </h3>
      </div>
      <h5>

      <div id="info">
        由 <%= news.user.first_name %> 於 <%= news.created_at %> 發佈, Tags:
          <% news.tags.each do |tag| %>
              <%= t(tag.name.to_sym) + " " %>
          <% end %>
        <span class="button-group">
          <button onclick="like(<%= session[:id] %>, <%= news.id %>, 1);" title="<%= t(:like_hint) %>" type="button" class="like" id="watch-like-<%= news.id %>">
            <img class="button-icon-like" src="/images/like_button.png" alt="">
            <span class="button-content-like"><%= t(:like_btn) %></span>
          </button>
          <button onclick="like(<%= session[:id] %>, <%= news.id %>, 0);" title="<%= t(:dislike_hint) %>" type="button" class="dislike" id="watch-dislike-<%= news.id %>">
            <img class="button-icon-dislike" src="/images/dislike_button.png" alt="">
          </button>
        </span>
      </div>
      </h5>
      <div id="image">
         <img src="<%=news.images[0].url.to_s%>" alt="image">
      </div>
      <div id="news_content">
        <%= news.content.html_safe %>
      </div>
      <% if (ENV['RAILS_ENV'] != "development") %>
      <div id="comments">
      <h3><%= t(:comments)%></h3>
      <div id="fb-root"></div>
      <fb:comments href="<%= "http://heygotimes.heroku.com/news/"+news.id.to_s %>" num_posts="2" width="650"></fb:comments>

      </div>
      <% end # if (ENV['RAILS_ENV'] != "development") %>
    </div>
    <%# if (index != 0) %>
      <hr>
    <%# end %>
  <% end %>
<% end %>


