

  <!-- Page styles -->
  <link type='text/css' href='/stylesheets/popup.css' rel='stylesheet' media='screen' />

  <%= javascript_include_tag 'jscal2/jscal2' %>
  <%= javascript_include_tag 'jscal2/lang/cn' %>
  <%#= javascript_include_tag 'jquery_cookie' %>


  <link rel="stylesheet" type="text/css" href="/stylesheets/jscal2/jscal2.css" />
  <link rel="stylesheet" type="text/css" href="/stylesheets/jscal2/border-radius.css" />


  <script type="text/javascript">

  $(document).ready(function (){


     //~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
     //  btn - save_as_default
     //
     $('#save_as_default').unbind('click').click(function()
     {
         // send filter-setting to server, then server would save them in session
         var data = collect_all_selection() ;
         data += "&save=yes" ;


         // send to server
         $.ajax(
         {
             type: "GET",
             url:"paper/set_filter_setting",
             data: data,
             success: function(html)
             {
                 alert(html) ;
                 // redirect to main page in order to redraw the news by new filter!
                  window.location.replace("/");
              }
         });

     }  );
       //
       // end of "#save_as_default".click callback function


     //~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
     //  function - set_each_filter
     //
     function set_each_filter(json)
     {
             // SET ALL TAGS filter
             //
             for(i=0;i<($('input').length);i++)
             {
                 if( $('input')[i].name != "each_tag")
                 {
                     continue ;
                 }

                 if((json.filter_tags).match($('input')[i].id) )
                     $('input')[i].checked = true ;
                 else
                     $('input')[i].checked = false ;
             }

             // set friend filter
             if((json.filter_friend).match("all"))
             {
                $('#my_news_only')[0].checked = false ;
                $('#my_friends_news_only')[0].checked = false ;
             }
             else
             {
                 if((json.filter_friend).match("mine"))
                     $('#my_news_only')[0].checked = true ;
                 else
                     $('#my_news_only')[0].checked = false ;

                 if((json.filter_friend).match("friend"))
                     $('#my_friends_news_only')[0].checked = true ;
                 else
                     $('#my_friends_news_only')[0].checked = false ;
              }

             // set date filter
             if(json.filter_date_option.match("no_limited"))
                $('#no_filter')[0].checked = true ;
             else if(json.filter_date_option.match("today"))
                 $('#today')[0].checked = true ;
             else if(json.filter_date_option.match("yesterday"))
                 $('#yesterday')[0].checked = true ;
             else
             {
                 $('#filter_by_this_date')[0].checked = true ;
                 for(i=0;i<($('label').length);i++)
                 {
                      if( $('label')[i].id != "date_label")
                          continue ;

                      $('label')[i].lastChild.textContent =json.filter_date ;
                      break ;
                 }
             }

     }

    //~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
     //  btn - load_my_filter
     //
     $('#load_my_filter').unbind('click').click(function()
     {

         alert("YYYy") ;
         /*
         // ask session data from server
         $.getJSON("paper/load_filter_setting.json",'cmd=get_all_tag', function(json)
         {
             console.log(json) ;
             set_each_filter(json) ;

         }  );
         */
         return false ;

     }  );
       //
       // end of "#load_my_filter".click callback function

     //~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
     //  btn - load_current_filter
     //
     $('#load_current_filter').unbind('click').click(function(){

         // ask session data from server
         $.getJSON("paper/get_filter_session.json",'cmd=get_all_tag', function(json)
         {
             set_each_filter(json) ;

         }  );

         return false ;

     }  );
       //
       // end of "#save_as_default".click callback function


     //~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
     //  function:  collect_all_selection
     //    - collect all selection and save them in a string (for caller using ajax call)
     //
     function collect_all_selection()
     {
         // collection all filter setting, and make it as format like:  "aa=123&bb=test"
         var data = "tag_filter=" ;
         var selected_tag_counter = 0 ;
         var date_data = "&date_filter_option=" ;

         // get selected tag-filter
         for(i=0;i<($('input').length);i++)
         {
             if( $('input')[i].name != "each_tag")
             {
                 continue ;
             }

             if($('input')[i].id == "All" && $('input')[i].checked == true)
             {
                 selected_tag_counter = 1 ;
                 data +='All' ;  // 既然選擇了All, 後面的tag就不用check了
                 break ;
             }

             if($('input')[i].checked == true)
             {
                data += ($('input')[i].id + "/") ;
                selected_tag_counter++ ;

             }
         }
         if(selected_tag_counter == 0 )
            data +='All' ;

         // get friend-filter
         //
         data += "&friend_filter=" ;
         if($('#my_news_only')[0].checked == true)
             data+="mine/" ;
         if($('#my_friends_news_only')[0].checked == true)
             data+="friend/" ;

         // get Date-Filter
         //
         if($('#yesterday')[0].checked == true)
         {
             var mydate= new Date()
             mydate.setDate(mydate.getDate()-1)

             var theyear=mydate.getFullYear()
             var themonth=mydate.getMonth()+1
             var theyesterday=mydate.getDate()

             data += ("&date_filter=" + theyear+"-"+themonth+"-"+theyesterday) ;
             date_data += "yesterday" ;

         }
         else if($('#today')[0].checked == true)
         {
             var M = new Date()
             M.setDate(M.getDate())

             var yy=M.getFullYear()
             var mm=M.getMonth()+1
             var dd=M.getDate()

             data += ("&date_filter=" + yy+"-"+mm+"-"+dd) ;
             date_data += "today" ;
         }
         else if($('#filter_by_this_date')[0].checked == true)
         {
             // data += ("&date_filter=" + $('label')[i].lastChild.textContent ) ;
             for(i=0;i<($('label').length);i++)
             {
                  if( $('label')[i].id != "date_label")
                  {
                      continue ;
                  }

                  if($('label')[i].lastChild.wholeText.charAt(0) != "2".charAt(0) )
                    data += "&date_filter=1971-11-12" ;
                  else
                    data += ("&date_filter=" + $('label')[i].lastChild.wholeText) ;

                  break ;
             }
             date_data += "selected_date" ;

         }
         else   // no selection   or  ($('#no_filter')[0].checked == true)
         {
              data += "&date_filter=1971-11-12" ;
              date_data += "no_limited" ;

         }

         data += date_data ;
         return data ;
     }


     //~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
     //  btn - save_filter
     //
     $('#save_filter').unbind('click').click(function()
     {
         // send filter-setting to server, then server would save them in session
         var data = collect_all_selection() ;
         data += "&save=no" ;

         // send to server
         $.ajax(
         {
             type: "GET",
             url:"/paper/set_filter_setting",
             data: data,
             success: function(html)
             {
                 // redirect to main page in order to redraw the news by new filter!
                  window.location.replace("/");
             }
         });

     }  );
       //
       // end of "#save_filter".click callback function



     //~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
     //  btn - reset all
     //
     $('#reset_all').unbind('click').click(function()
     {
        // un-ckeck all checkbox and radio box
        for(i=0;i<($('input').length);i++)
        {
            if( $('input')[i].name != "each_tag" && $('input')[i].name != "friend_filter" &&
                $('input')[i].name != "date")
            {
                continue ;
            }

            $('input')[i].checked = false ;

        }

        // reset the date-label
        for(i=0;i<($('label').length);i++)
        {
             if( $('label')[i].id != "date_label")
             {
                 continue ;
             }

             $('label')[i].lastChild.textContent = "<%= t(:no_limit) %> " ;
        }

        return false ;   // to prevent click event would be issued twice!
     }  );
      //
      // end of "#reset_all".click callback function


  }  );
  //
  // end of "$(document).ready callback function


 </script>



<!-- 2 buttons : "load my filter" & "reset the filter"
-->
<div align = "right">
  <button id = "load_current_filter"> <%= t(:load_current_filter)%> </button>

  <% if session[:logged_in] == true %>
      <button id = "load_my_filter"> <%= t(:load_my_filter)%> </button>
  <% else %>
      <button id = "load_my_filter" disabled="true"> <%= t(:load_my_filter)%> </button>
  <% end %>

  <button id = "reset_all"> <%= t(:reset_the_filter) %> </button>
</div>
<hr>





<!-- (ask server to) get and show all News-Tags
-->
<div align = "left">
  <h3><%= t(:filter_by_tag)%> </h3>
</div>

<div class = "all_tags" align = "left" >
  <%# !!!!!!!!!!! Todo1:  將所有tags排整齊    %>
  <%# !!!!!!!!!!! Todo2:  sub-tag用不同字體 or color    %>

  <% @tags.each do |tag| %>
    <%# using type and name to identify each Input/Checkbox here %>

    <input type="checkbox" name ="each_tag" id="<%= tag.name %>"> <%= t(tag.name.to_sym) %> </input>
    &nbsp;&nbsp;&nbsp;

    <% if ( (tag.id == 1) || (tag.id - 1) % 6 == 0)  %>
      <br>
    <% end %>
  <% end %>


</div>

<hr>



<!-- 2 checkbox - my news only & my friends' news only
-->
<div align = "left">
  <h3><%= t(:filter_by_friend)%></h3>
  <input type="checkbox" id="my_news_only" name="friend_filter"> <%= t(:my_news_only)%> <br>  </input>
  <input type="checkbox" id="my_friends_news_only" name="friend_filter"> <%= t(:my_friends_news_only)%>  <br> </input>

</div>
<hr>


<!-- select date(select one only): today, yesterday, and date-selection-box
-->
<style type="text/css">
label   {
        color: #781351;
        background: #fee3ad;
        }
</style>

<div align = "left">
  <h3><%= t(:filter_by_date)%></h3>

    <input type="radio" name = "date" id="no_filter" value = "no_filter"> <%= t(:no_date_filter)   %>
    <br>
    <input type="radio" name = "date" id="yesterday" value = "yesterday"> <%= t(:yesterday)   %>
    &nbsp;&nbsp;&nbsp;
    <input type="radio" name = "date" id="today" value = "today"> <%= t(:today)%>
    <br>


    <input type="radio" name = "date" id="filter_by_this_date" value = "filter_by_this_date"> <%= t(:filter_by_this_date) %>
    <label id = "date_label" > <%= t(:no_limit) %>  </label>
    &nbsp;&nbsp;&nbsp;
    <button id="date_btn"> <%= t(:select_date) %> </button>
    <br>

   <script>

      Calendar.setup({
        animation  : true,
        inputField : "date_label",
        trigger    : "date_btn",
        onSelect   : function()  { this.hide() },
        showTime   : false,
        dateFormat : "%Y-%m-%d"
      });
    </script>

</div>
<hr>



<!-- 3 buttons
-->
<div align = "right">
  <% if session[:logged_in] == true %>
      <button class="simplemodal-close" id="save_as_default"> <%= t(:filter_save_as_default)%> </button>
  <% else %>
      <button class="simplemodal-close" id="save_as_default" disabled="true"> <%= t(:filter_save_as_default)%> </button>
  <% end %>
  <button class="simplemodal-close"> <%= t(:filter_cancel) %>  </button>
  <button class="simplemodal-close" id="save_filter"> <%= t(:filter_ok) %>  </button>
</div>
<hr>
