

<% if news != nil %>
  <% news.each_with_index do |news, index| %>
    <div class="news">
      <div class="news_title">
        <% if (news.special_flag==false) %>
          <% url=news_index_path+'/'+news.id.to_s+'/'+news.title %>
        <% else %>
          <% url=news_index_path+'/'+news.id.to_s %>
        <% end %>
        <a title="<%= news.title %>" href="<%= url %>" onclick="window.open('<%= url %>'); return false;"><%= news.title %></a>
      </div>

      <div class="info">
        <!-- todo: 時區需要判斷  -->
        <%= t(:info_1) %> <%= news.user.first_name %> <%= t(:info_2) %> <%= news.created_at.in_time_zone("Taipei").strftime("%Y/%m/%d %H:%M") %> <%= t(:info_3) %>, <%= t(:info_tags) %>:
        <% news.tags.each do |tag| %>
            <%= t(tag.name.to_sym) + " " %>
        <% end %>
      </div>

      <div class="image">
         <% if news.images != [] && news.images[0].url != "" %>
            <img src="<%=news.images[0].url.to_s%>" alt="image" width="150" onerror="javascript:this.src='http://heygotimes.heroku.com/images/newspaper_bw.jpg'">
         <% end %>
      </div>

      <div class="news_content">
        <%= news.content.html_safe %>
      </div>

      <div style="clear: both;"></div>
    </div> <!-- news -->

    <div class="comments">
      <% graph = Koala::Facebook::GraphAPI.new() %>
      <% comment_obj = graph.get_object("http://heygotimes.heroku.com/news/"+news.id.to_s) %>
      <% comments = (comment_obj['comments'] == nil)? 0: comment_obj['comments'] %>
      <% shared = (comment_obj['shares'] == nil)? 0: comment_obj['shares'] %>

      <% if news_sub_type != "feedback" %>
        <div class="button_group">
          <a style="float: right;" href="javascript:void(null)" onclick="report_the_spam( <%= news.id %>,'<%= news.title %>')">
            <img class="button-icon-like" src="/images/stop_button.png" width="30px" height="30px"
                 alt="" title="<%= t(:report_spam)%>" />
          </a>
          <span class='share_count count_span' id='share_count<%= news.id %>'><%= shared %></span><a style="float: right;" href="javascript:void(null)" onclick="share('<%= news.id %>', '<%= news.title %>');" title="<%= t(:share_hint) %>"><img class="button-icon-share" src="/images/facebook_icon.png" alt="" /></a>
          <span class='unlike_count count_span' id='unlike_count<%= news.id %>'><%= news.unlikes.count %></span><a style="float: right;" href="javascript:void(null)" onclick="like(<%= session[:id] %>, <%= news.id %>, 0);"><img class="button-icon-unlike" src="/images/unlike_button.png" alt="" /></a>
          <span class='like_count count_span' id='like_count<%= news.id %>'><%= news.likes.count %></span><a style="float: right;" href="javascript:void(null)" onclick="like(<%= session[:id] %>, <%= news.id %>, 1);"><img class="button-icon-like" src="/images/like_button.png" alt="" /></a>
        </div>
      <% end %>
      <% news_title = (news.special_flag == false)? news.title: ''%>
      <div class="comment_title" id="comment_title_<%= news.id %>" onclick="expand_comment(<%= news.id %>, '<%= news_title %>');"><a href="javascript:void(null)"><%= t(:comments)%></a><span id='expand_comment<%= news.id %>'><a href="javascript:void(null)"><%= '(' + comments.to_s + ')' %><img class="button-icon-expand" src="/images/expand.png" alt=""/></a></span></div>

      <div class="fb_comment" id="fb_comment<%= news.id %>">
        <div id="fb-root"></div>
        <script>
          window.fbAsyncInit = function() {
            FB.init({appId: <%= Facebooker2.app_id %>, status: true, cookie: true,
                     xfbml: true});
          };
          (function() {
            var e = document.createElement('script'); e.async = true;

            // Todo: we need to check the locale!!!!!!!!!!!!
            //
            e.src = document.location.protocol + '//connect.facebook.net/zh_TW/all.js';

            document.getElementById('fb-root').appendChild(e);
          }());
        </script>
      </div> <!-- fb_comment -->
      <div style="clear: both;"></div>
    </div> <!-- comments -->

    <%# if (index != 0) %>
      <hr>
    <%# end %>
  <% end %>
<% end %>


