<head>
  <meta property="og:title" content="HeyGoTimes"/>
  <meta property="og:type" content="news"/>
  <meta property="og:url" content="<%= root_url %>"/>
  <meta property="og:image" content="<%= root_url + "images/HeyGoTimes_logo.png" %> "/>

  <script type="text/javascript">
    function like(user, news, like)
    {
      // ask session data from server
      $.getJSON("/news/like.json", {user: user, news: news, like: like}, function(json)
      {
        if (like == 1)
          alert(json.name+' like this news, total: '+json.total);
        else
          alert(json.name+' dislike this news, total: '+json.total);

      }  );

    }

    function loadMore(type, pageNo) {
      var url = '/paper/_show_paper_content?type='+type+'&page='+pageNo;
      $.get(url, function(response) {
        $("#paperContent").append(response);
      });
    }

    function changePaperType(type) {
      var url = '/paper/_show_paper_content?type='+type+'&page=1';
      $.get(url, function(response) {
        //$("#paperContent").replaceWith(response);
        $("#paperContent").fadeOut('slow').load(response).fadeIn('slow');
      });
    }

    $(document).ready(function() {
      var currPage = 1;
      var currType = 'latest';

      $('#more_news').unbind('click').click(function() {
        loadMore(currType, ++currPage);
      });

      $('#menu-item-rank').unbind('click').click(function(){
        $('#menu-item-latest').removeClass("current-menu-item")
        $(this).addClass("current-menu-item")
        currType = 'rank';
        changePaperType(currType);
      });

      $('#menu-item-latest').unbind('click').click(function(){
        $('#menu-item-rank').removeClass("current-menu-item")
        $(this).addClass("current-menu-item")
        currType = 'latest';
        changePaperType(currType);
      });
    });
  </script>

</head>


<div id="page">
  <div id="header">
    <div id="masthead">
        <div id="logo">
          <%= link_to( image_tag("/images/HeyGoTimes_logo.png"), {controller =>'paper'}, {:title => 'to home page'} ) %>
          <span title ="<%= t(:tip_for_filter)%>"><%= @newspaper_title.to_s %></span>
        </div>

        <div id="links" >
          <%= show_page_head(:login_flag => true)  %>
        </div><!-- #links -->

    </div><!-- #masthead -->
  </div><!-- #header -->

  <div id="access">
    <div class="menu-header">
      <ul id="menu-area" class="menu">
        <!--
        <li id="menu-item-rank" class="menu-item <%= 'current-menu-item' if (session[:news_type] == 'rank') %>"><a title="Rank" href="<%= paper_index_path %>?type=rank"><%=t(:popular_news)%></a></li>
        <li id="menu-item-latest" class="menu-item <%= 'current-menu-item' if (session[:news_type] == 'latest') %>"><a title="Latest" href="<%= paper_index_path %>?type=latest"><%=t(:latest_news)%></a></li>
        -->
        <li id="menu-item-rank" class="menu-item <%= 'current-menu-item' if (session[:news_type] == 'rank') %>"><a title="Rank" href="#"><%=t(:popular_news)%></a></li>
        <li id="menu-item-latest" class="menu-item <%= 'current-menu-item' if (session[:news_type] == 'latest') %>"><a title="Latest" href="#"><%=t(:latest_news)%></a></li>
      </ul>
    </div>
  </div><!-- #access -->

  <div id="main">
    <div id="content">
      <!-- Show NewsPaper's title.  Call show_paper_title() & render show_paper_title.html.erb -->
      <!--
      <div id="title">
        <%# = render :partial => 'paper/show_paper_title', :locals => {:title => @newspaper_title, :slogan => @newspaper_slogan, :weather => @weather.to_s, :date => @date} %>
      </div>
      -->
      <div id="paperContent">
        <% # TODO: use @paper_width %>
        <%= render :partial => 'paper/show_paper_content', :locals => {:news => @news} %>
      </div>
      <%#= link_to "View more news", "#", :class => "next" %>
      <%#= link_to "View more news", :id => "more_news", :remote => true %>
      <button id = "more_news"> <%= t(:more_news) %> </button>

    </div>

    <div id="sub">

      <!-- Show functional buttons : 1.Report_a_news/2.Edit_realtimes_news/3.my_AD  -->
      <div id="functionalButton">
        <%= render :partial => 'paper/show_fun_buttons' %>
      </div>

      <!-- show AD list-->
      <div id="ad">
        <% # TODO: use @ad_width, @ad_height, @ad_no %>
        <%= render :partial => 'paper/show_ad_list' %>
      </div>
    </div>
  </div><!-- #main -->


  <!-- method 'show_page_tail' would be used by all controller, so it's implemented in application_helper.rb -->
    <div id="footer">
      <%= show_page_tail %>
    </div>
</div> <!-- /page -->
  <!-- news/_show_page_tail.html.erb  -->
