  <title><%= t(:HeyGoTimes)%> - <%= t(:Home)%></title>
  <meta property="og:title" content="HeyGoTimes"/>
  <meta property="og:type" content="news"/>
  <meta property="og:url" content="<%= root_url %>"/>
  <meta property="og:image" content="<%= root_url + "images/HeyGoTimes_logo.png" %> "/>
  <link type='text/css' href='/stylesheets/menu.css' rel='stylesheet' media='screen' />
  <script type='text/javascript' src='/javascripts/menu.js'></script>

  <script type="text/javascript">
    function like(user, news, like)
    {
      // ask session data from server
      $.getJSON("/news/like.json", {user: user, news: news, like: like}, function(json)
      {
        $('#like_count'+news).html(json.like_count);
        $('#unlike_count'+news).html(json.unlike_count);
      });
    }

    function comment(resp)
    {
      var pos = resp.href.indexOf('/news/');
      var id = resp.href.substring(pos+6);
      pos=id.indexOf('-');
      id=id.substring(0, pos);

      $.ajax({
        type: "POST",
        url: "/news/comment",
        data: "news_id="+id
      });
    }

    function share(id, url, title)
    {
      var url = 'http://www.facebook.com/sharer.php?u='+url+'&t='+title;
      $.ajax({
        type: "POST",
        url: "/news/share",
        data: "news_id="+id,
        complete: function(){
          location.href=url;
        }
      });
    }

    function expand_comment(news_id,comment_url)
    {
      var comment_str = "<fb:comments href='"+comment_url+"'"+"num_posts='2' width='650'></fb:comments>";

      $('#comment_title_'+news_id).attr('onclick', '').unbind('click');
      $('#expand_comment'+news_id).html("");
      $('#fb_comment'+news_id).append(comment_str);

      FB.XFBML.parse(document.getElementById('comments'));
      FB.Event.subscribe('comment.create',function(resp){comment(resp);});
    }

    function loading_animate(on){
      if (on)
        $('#loading_animate').html("<img src='/images/fb_loading_large.gif'/>");
      else
        $('#loading_animate').html('<a></a>');
    }

    function loadMore(type, subType, pageNo,news_num)
    {
      var t = $("#paperContent");
      var url = '/paper/_show_paper_content?type='+type+'&sub_type='+subType+'&page='+pageNo + '&news_num='+ news_num + '&time_base=before';
      var preview = $('#loading_more_news').html('<img src="images/fb_loading_large.gif" height="20" width="20" />');

      $.get(url, function(response) {
          if (jQuery.trim(response) == '')
            $("#more_news").html('<a><%= t(:m_no_more) %></a>');
          else
            $("#paperContent").append(response);
        });

      t.timeout = setTimeout(function () {
        preview.html('');
      }, 10000);
    }

    function changePaperType(type, subType)
    {
      var url = '/paper/_show_paper_content?type='+type+'&sub_type='+subType+'&page=1' + '&time_base=now';
      loading_animate(true);
      $("#paperContent").load(url, function(response, status, xhr) {
        loading_animate(false);
        $("#more_news").html('<a><%= t(:m_more) %></a><span id="loading_more_news"></span>');
      });
    }

    function set_tag(tag)
    {
      var data = "/paper/set_filter_setting?save=no&tag_filter=" + tag;
      window.location = data;
    }

    $(document).ready(function()
    {
      var currPage = 1;
      var currType = '<%= session[:news_type] %>';
      var subType = '';

      var newspaper_title =  '<%= @newspaper_title %>' ;

      if (currType == undefined)
        currType = 'rank';

      <% if (session[:news_type] == 'rank') %>
        $('#menu-item-latest').removeClass("active");
      <% else %>
        $('#menu-item-rank').removeClass("active");
      <% end %>

        $('#fb_login_icon').bt('<%= t(:fb_login_icon_hint) %>',{positions: 'right',width:120, fill:'#bdc7d8'}) ;
        $('#show_friends_news').bt('<%= t(:Friends_ranking_hint) %>',{positions: 'right',width:200, fill:'#bdc7d8'}) ;
        $('#filter_hint').bt('<%= t(:slogan_title_hint) %>',{positions: 'bottom',width:240, fill:'#bdc7d8'}) ;

        $('#toolbar-box').bt('<%= t(:feedback_bar_hint) %>',{positions: 'right',width:200, fill:'#bdc7d8'}) ;
        $('#logo').bt('<%= t(:logo_hint) %>',{positions: 'left',width:120, fill:'#bdc7d8'}) ;
        $('#share_icon0').bt('<%= t(:share_icon_hint) %>',{positions: 'bottom',width:120, fill:'#bdc7d8'}) ;
        $('#like_icon0').bt('<%= t(:like_icon_hint) %>',{positions: 'bottom',width:240, fill:'#bdc7d8'}) ;
        $('#unlike_icon0').bt('<%= t(:unlike_icon_hint) %>',{positions: 'bottom',width:300, fill:'#bdc7d8'}) ;
        $('#report_spam0').bt('<%= t(:report_spam_icon_hint) %>',{positions: 'right',width:200, fill:'#bdc7d8'}) ;




      $('#more_news').unbind('click').click(function() {
        loadMore(currType, subType, ++currPage,15);
      });

      /*
      $('#more_15news').unbind('click').click(function() {
        loadMore(currType, subType, ++currPage,15);
      });
      $('#more_20news').unbind('click').click(function() {
        loadMore(currType, subType, ++currPage,20);
      });
      $('#more_25news').unbind('click').click(function() {
        loadMore(currType, subType, ++currPage,25);
      });
      */

      $('#menu-item-rank').unbind('click').click(function(){
        $('#menu-item-latest').removeClass("active");
        $(this).addClass("active");
        currPage = 1;
        currType = 'rank';
        changePaperType(currType, '');
        $('#filter_hint')[0].childNodes[0].textContent = newspaper_title ;
      });

      $('#menu-item-latest').unbind('click').click(function(){
        $('#menu-item-rank').removeClass("active");
        $(this).addClass("active");
        currPage = 1;
        currType = 'latest';
        changePaperType(currType, '');
        $('#filter_hint')[0].childNodes[0].textContent = newspaper_title ;
      });

      $('#show_faq').unbind('click').click(function() {
        currPage = 1;
        currType = 'special';
        subType = 'faq';
        changePaperType(currType, subType);
        $('#filter_hint')[0].childNodes[0].textContent = '<%= t(:slogan) %>' + '<%= t(:FAQ) %>' ;
      });

      $('#show_feedback').unbind('click').click(function() {
        if(<%= session[:logged_in]%> == false)
        {
            alert("<%= t(:login_for_set_friend_filter) %>") ;
            return ;
        }

        currPage = 1;
        currType = 'special';
        subType = 'feedback';
        changePaperType(currType, subType);
        $('#filter_hint')[0].childNodes[0].textContent = '<%= t(:slogan) %>' + '<%= t(:feedback) %>' ;
      });

      $('#show_notice').unbind('click').click(function() {
        currPage = 1;
        currType = 'special';
        subType = 'notice';
        changePaperType(currType, subType);
        $('#filter_hint')[0].childNodes[0].textContent = '<%= t(:slogan) %>' + '<%= t(:notice) %>' ;
      });

      $('#show_friends_news').unbind('click').click(function() {
           if(<%= session[:logged_in]%> == false)
           {
               alert("<%= t(:login_for_set_friend_filter) %>") ;
               return ;
           }

           $('#filter_hint')[0].childNodes[0].textContent = '<%= t(:Friends_ranking_title) %>' ;
           currPage = 1;
           currType = 'rank';
           subType = 'friend';
           changePaperType(currType, subType);
      });

      loading_animate(false);

    });

    function set_default_locale(new_locale)
    {
        // ask server to set session[:default_locale] then reload the main-page
        data = "locale=" + new_locale

        window.location = "/paper/set_default_locale?" + data ;

     }

    function report_the_spam(spam_new_id, spam_news_title)
    {

        if(<%= session[:logged_in]%> == false)
        {
            alert('<%= t(:please_log_in)  %>') ;
            return ;
        }

        message = '<%= t(:I_want_to_report_spam) %>' + ': [ ' + spam_news_title  + ' ]';
        result_msg = prompt(message, '<%= t(:spam_reason)%>') ;

        if(!(result_msg))
          return ;

        data = "news_id=" + spam_new_id + '&' + 'content=' + encodeURIComponent(result_msg)

        // send to server
         $.ajax(
         {
             type: "GET",
             url:"/review/report_spam",
             data: data,
             success: function(html)
             {
                 // redirect to main page in order to redraw the news by new filter!
                 // window.location.replace("/review/spam");
                 alert(html) ;
             }
         });
    }


  </script>

</head> <%# end tag for <head> in application.html.erb %>

<body>


<% if detect_Mobile_browser(:list) == true %>
    <%= redirect_to  :controller => 'mobile', :action => 'index' %>
<% end %>

<div align="center">
    <img width="72px" src="/images/icon_red_new.png"/>
    <span style="font-size:16px;color:red;"><%= t(:Friends_slogan) %>
      <input
         id = "show_friends_news"
         type="button"
         name="groovybtn1"
         class="groovybutton_red"
         value="<%= t(:Friends_ranking) %>"
         title=""
         onclick="">

    </span>

</div>


<div id="page">
  <div id="header">
    <div id="logo">
      <%= link_to( image_tag("/images/HeyGoTimes_logo.png"), {:controller =>'paper'}, {:title => 'to home page'} ) %>
    </div>
    <span id="filter_hint" style="font-size:14px;">
        <%= @newspaper_title.to_s %>
    </span>

    <div id="page_head" >
      <a href="#" onclick="set_default_locale('zh_tw')">繁體中文</a>
      <a href="#" onclick="set_default_locale('zh')">简体中文</a>
      <a href="#" onclick="set_default_locale('en')">English</a>

      <div id="page_head2" >
        <%= show_page_head(:login_flag => true)  %>
        <% if !(@login_flag && session[:logged_in] == false) %>
          <%= show_logout_link %>
        <% end %>
      </div><!-- #page_head -->
    </div><!-- #page_head -->

  </div><!-- #header -->


  <div id="menu">
    <ul class="menu">
      <div id="menu_type_btn">
      <li id="menu-item-rank" class="active"><a href="javascript:void(null)" class="parent"><span><%=t(:popular_news)%></span></a></li>
      <li id="menu-item-latest" class="active"><a href="javascript:void(null)" class="parent"><span><%=t(:latest_news)%></span></a></li>
      <%
        # calculate notation count
        count = 0
        if @notations != nil && @notations.count > 0
          @notations.each do |event|
            if event.event_time != nil && DateTime.parse(event.event_time) > @notification_time
              count+=1
            else
              break
            end
          end
        end
      %>

      <li><a class="parent"><span><%= t(:event_notation) %>(<%= count %>)</span></a>
        <% if @notations != nil  %>
        <div><ul>
          <% @notations.each_with_index do |news,index|%>
            <% color = (index < count)? 'red': 'white' %>
            <% url = news_index_path+'/'+news.fb_obj_url %>
            <li><a href="<%= url %>" onclick="window.open('<%= url %>'); return false;"><span style="color:<%= color %>;"><%= news.title %></span></a></li>
          <% end %>
        </ul></div>
        <% end %>
      </li>
      <li id="loading_animate"><img src="/images/fb_loading_large.gif" alt=""/></li>
      </div>
      <div id="menu_fun_btn">
      <li><a name='btn2' class='osx btn2' title="<%= t(:m_filter_setting) %>"><span><%=t(:m_filter)%></span></a></li>
      <li><a name='btn1' class='osx btn1' title="<%= t(:m_report_news) %>"><span><%=t(:m_report)%></span></a></li>
      <li><a id='show_notice'><span <% if @new_sys_notation %>style="color:red;"<% end %>><%= t(:notice) %></span></a></li>
      </div>
    </ul>
  </div>

  <div id="main">
    <div id="content">
      <div id="paperContent">
        <% # TODO: use @paper_width %>
        <%= render :partial => 'paper/show_paper_content', :locals => {:news => @news, :news_sub_type => ""} %>
      </div>
      <div id="more_news">
          <a><%= t(:m_more) %></a> <span id="loading_more_news"></span>
      </div>
    </div>
    <div id="sub">
      <!-- Show functional buttons : 1.Report_a_news/2.Edit_realtimes_news/3.my_AD  -->
      <div id="functionalButton">
        <%= render :partial => 'paper/show_fun_buttons' %>
      </div>
      <!-- show AD list-->
      <div id="ad">
        <% # TODO: use @ad_width, @ad_height, @ad_no %>
        <a href="http://itunes.apple.com/us/app/heygo!-times/id455478303?ls=1&mt=8"><img width="120px" src="/images/appStoreBadge.png"/></a>
        <br><br>
        <%= render :partial => 'paper/show_ad_list' %>
      </div>
    </div>
  </div><!-- #main -->

  <div id="footer">
    <%= show_page_tail %>
  </div>

  <!--
  <div id="add_moremore_news">
    <a id="more_15news"> +15 </a>
    &nbsp;
    <a id="more_20news"> +20 </a>
    &nbsp;
    <a id="more_25news"> +25 </a>
  </div>
  -->

</div> <!-- /page -->
  <!-- news/_show_page_tail.html.erb  -->

<div id="toolbar-box">
    <!-- 浮動視窗內的程式碼…  -->

  <a href='https://www.facebook.com/pages/HeyGo-Times-%E5%8F%B0%E7%81%A3/131802886903681'
       onclick="alert('<%= t(:feedback_message) %>') ;"><img src="/images/feedback.png"/></a>
</div>

</body>
