<!DOCTYPE html>
<html>

<div id="header">
<!-- 顯示頁首的所有元素 - logo, search bar, 許多功能連結, login/logout... -->

  <div id="logo" >	
    <!-- "to_main_page" is defined in application_controller.rb -->
    <%=     link_to( image_tag("/images/HeyGo_logo.png"), {:action =>'to_main_page'}, \
        {:title => 'to home page'} )  %>
  </div>

  <div id="search_bar" align="right">
    <!--- # show_search_bar is implemented in search_helper.rb  
	  show_search_bar@search_helper.rb ==> render _search_bar.html.erb ==> submit ==> search/do_search
    --->
    <%= show_search_bar :paper  %>
  </div>
  
  <div id="links" >	
    <%= link_to (t :other_paper), {:controller => 'area'}, {:title => '選擇其他報紙'} %>

    <%= link_to '過濾新聞', {:action => 'filiter_today_newspaper'}, {:title => '過濾新聞'} %>
	
	<% if @followed_flag == true  %>
      <%= link_to '取消訂閱', {:action => 'follow', :flag => 'true'}, {:title => '取消訂閱這份報紙'} %>
    <% else %>
      <%= link_to '訂閱', {:action => 'follow', :flag => 'false'}, {:title => '訂閱這份報紙'} %>
    <% end %>
	
    <%= link_to '設定', {:controller => 'setup'}, {:title => '設定個人資訊'} %>
	
	<!--- @logged_flag and method-login/logout/signup are defined in application_controller.rb -->
	<% if @logged_flag == true %>   
      <%= link_to 'Logout', {:action => 'logout'}, {:title => 'logout'} %>
    <% else %>
      <%= link_to 'Login',  {:action => 'login'},  {:title => 'login'} %>	
      <%= link_to 'Signup', {:action => 'signup'}, {:title => 'signup'} %>
    <% end %>
	
  </div>  
  
  
</div>





<br><br><br><br><br><br><br><br>

<h1>(5). Paper#index</h1>
<p>Find me in app/views/paper/index.html.erb</p>

<br><br>
<h1>每日發行的報紙頁面</h1>
<p>此頁面包含： login/報紙頭條/分類廣告橫欄...</p>


<br><br>
<h1>連結：</h1>
<%= link_to (t :HeyGoTimes)+" "+(t :main_page), {:action => 'to_main_page'} , {:title => 'to home page'}  %>


</html>
