
<% if news != nil %>
  <% news.each_with_index do |news,news_index| %>
    <span style="float: left;">
    <div class="event" id="event_<%= news.id %>" style="width:300px;height:250px;padding:5px; margin-left:30px;border-color: #bdc7d8;border-style:dashed;">
      <div class="news_title">
        <% if (news.special_flag==false) %>
          <% url=news_index_path+'/'+news.fb_obj_url %>
        <% else %>
          <% url=news_index_path+'/'+news.id.to_s %>
        <% end %>

        <br>

        <a title="<%= news.title %>" href="<%= url %>" onclick="window.open('<%= url %>'); return false;"><%= news.title %></a>
      </div>

      <div class="info">
        <!-- OKOK: 時區需要判斷  -->
        <%= t(:info_1) %> <%= news.user.first_name %> <%= t(:info_2) %>
        <% if session[:default_locale] == "en" %>
            <%= news.created_at.in_time_zone("Central Time (US & Canada)").strftime("%Y/%m/%d %H:%M") %>
        <% else %>
            <%= news.created_at.in_time_zone("Taipei").strftime("%Y/%m/%d %H:%M") %>
        <% end %>
        <%= t(:info_3) %>, <%= t(:watched) %>: <%= news.watch_count %>, <%= t(:info_tags) %>:

        <% news.tags.each_with_index do |tag, index| %>
          <%= "/" if (index != 0) %>
          <a href="javascript:void(null)" onclick="set_tag('<%= tag.name %>')" ><%= t(tag.name.to_sym) %></a>

        <% end %>
      </div>

      <div class="image">
         <% if news.images != [] && news.images[0].url != "" %>
            <img src="<%=news.images[0].url.to_s%>" alt="image" width="150" onerror="javascript:this.src='http://www.heygotimes.com/images/newspaper_bw.jpg'">
         <% end %>
      </div>

      <div class="news_content">
        <%= news.content.html_safe %>
      </div>

    </div> <!-- event -->
    </span>
  <% end %>
<% end %>


