
<!-- Page styles -->
<link type='text/css' href='/stylesheets/popup.css' rel='stylesheet' media='screen' />

<!--  already loaded in application.html.erb
<script type='text/javascript' src='/javascripts/jquery.js'></script>
-->

<script type="text/javascript">

<!--
$(document).ready(function () {

  $('#get_news').unbind('click').click(function()
  {
    var t = document.forms[0].elements[2];
    clearTimeout(this.timer);

    if (t.value == t.current) {
        return true;
    }

    var preview = $('#loading_animate').html('<img src="images/fb_loading_large.gif" height="16" width="16" />');

    if (t.value == '') {
      preview.html('');
    } else {

      // set a timeout of x seconds to load the image, otherwise, show the fail message
      t.timeout = setTimeout(function () {
        $.getJSON("/news/report.json", 'url=' + t.value, function(json){
          document.forms[0].elements[4].value = json.title;
          document.forms[0].elements[5].value = json.text;
          document.forms[0].elements[6].value = json.image;
        });
        t.timeout = setTimeout(function () {
          preview.html('');
        }, 1500);

      }, 1000);
    }

    t.current = t.value;

    return false;
  });
});
//-->
</script>


<%= form_for(news) do |f| %>
  <% if news.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(news.errors.count, "error") %> prohibited this news from being saved:</h2>

      <ul>
      <% news.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div align ="left"  id="filter_dlg_t2" >
    <%= t(:input_news_url_hint)%>
  </div>

  <div class="field" style="position:relative;left:10px;">
    <input type="text" name="news[url]" value="" id="news_url" size="32"/>
    <button id = "get_news"> <%= t(:get_news) %> </button>
    <span id="loading_animate"></span>
  </div>

  <hr>

  <div align ="left"  id="filter_dlg_t2" >
    <%= t(:input_news_hint)%>
  </div>

  <div class="field" style="clear:both;">
    <%= t(:news_title_field)%>
    <%= f.text_field :title, :style=>"position:relative;left:34px;", :size=>64 %>
    <br><br>
  </div>

  <div class="field">
    <!--
  	<script type="text/javascript" src="/javascripts/tiny_mce/tiny_mce.js"></script>
    <script type="text/javascript">
    tinyMCE.init({
          // General options
          mode : "textareas"
    });
    </script>
    -->
    <%= t(:news_content_field)%>
    <%= f.text_area :content, :style=>"position:relative;left:34px;" %>
  </div>

    <!--
    <input type="text" name="hide" value="" id="hide_text_box" />
    -->

  <div class="field" style="clear:both;">
    <%= t(:news_image_url_field)%>
    <input type="text" name="image_url" size="64" value="" id="image_url" style="position:relative;left:10px;"/>
  </div>
  <hr>

   <div style="display: none;">
      <%= f.text_area :area_string %>
   </div>

  <div align = "left" id="filter_dlg_t2">
    <%= t(:set_tag_and_area)%>
    &nbsp;&nbsp;
  </div>

  <%# Area Selection  %>
    <div align = "left" id = "area_select_box2" >
      <select id="area_filter2"  multiple="multiple" >

            <% @areas.each do |area| %>
                  <% if area.parent_area != nil %>
                     <option  id="<%= area.name %>" style='color:blue;font-size:14px;'><%= t(area.name.to_sym)  %></option>
                  <% else %>
                     <option  id="<%= area.name %>" style='font-size:14px;'><%= t(area.name.to_sym)  %></option>
                  <% end %>
            <% end %>

      </select>
    </div>


    <div class = "all_tags" align = "left" style="clear:both;" >
    <%# !!!!!!!!!!! Todo1:  將所有tags排整齊    %>
    <%# !!!!!!!!!!! Todo2:  sub-tag用不同字體 or color    %>


      <% @tags.each do |tag| %>
        <%# using type and name to identify each Input/Checkbox here %>

        <% if tag.id <= 3 %>

              <% if tag.id == 2 || tag.id == 3  %>
               <%# todo:  這兩個items是與feedback & notice, 只有在feedback與系統管理者發言時才顯示這兩個選項 %>
                <% next %>
              <% end %>

              <div id="tag_grp1">
              <input type="checkbox" name ="<%= tag.name %>" id="<%= tag.name %>" >
                 <%= t(tag.name.to_sym) %>
              </input>
              &nbsp;&nbsp;&nbsp;
              </div>
        <% else %>
              <div id="tag_grp2">
              <input type="checkbox" name ="<%= tag.name %>" id="<%= tag.name %>" >
                 <%= t(tag.name.to_sym) %>
              </input>
              &nbsp;&nbsp;&nbsp;
              </div>
        <% end%>


        <% if (tag.id == 1) %>
              <%= t(:same_as_select_all) %>
              <br>
              <% next %>
        <% end %>

        <% if (tag.id - 3) % 6 == 0  %>
          <br>
        <% end %>

      <% end %>
  </div>
  <br>
  <hr>

    <div class="actions" align="right">
      <input id="news_submit" name="commit" type="submit" value="新增News" />
      <input class="simplemodal-close" id="news_cancel" name="cancel" type="submit" value="取消" />
      <!-- <button class="simplemodal-close">取消</button> -->
    </div>

<% end %>
