
<!-- Page styles -->
<link type='text/css' href='/stylesheets/popup.css' rel='stylesheet' media='screen' />

<!--  already loaded in application.html.erb
<script type='text/javascript' src='/javascripts/jquery.js'></script>
-->

<script type="text/javascript">

<!--
function validate_input(){
  if ((document.forms[0].elements[4].value == '') || (document.forms[0].elements[5].value == ''))
    $('#news_submit').attr("disabled", true);
  else
    $('#news_submit').attr("disabled", false);
}

$(document).ready(function () {

   // set default value of area!
  document.forms[0].elements[7].value = "<%= session[:default_area] %>" + "/";

  $('#news_form_title').keyup(function () {
    validate_input();
  });

  $('#news_form_content').keyup(function () {
    validate_input();
  });

  $('#get_news').unbind('click').click(function()
  {
    var t = document.forms[0].elements[2];
    clearTimeout(this.timer);

    if (t.value == t.current) {
        return true;
    }

    var preview = $('#loading_animate').html('<img src="images/fb_loading_large.gif" height="16" width="16" />');

    if (t.value == '') {
      preview.html('');
    } else {

      // set a timeout of x seconds to load the image, otherwise, show the fail message
      t.timeout = setTimeout(function () {
        $.getJSON("/news/report.json", 'url=' + t.value, function(json){
          if (json.ret == 'url exist')
          {
            document.forms[0].elements[4].value = '';
            document.forms[0].elements[5].value = '';
            document.forms[0].elements[6].value = '';
            alert("<%= t(:news_already_exist) %>");
          }
          else if (json.ret == 'bad url')
          {
            alert("Bad URL!");
          }
          else
          {
            console.log(json) ;

            document.forms[0].elements[4].value = json.title;
            document.forms[0].elements[5].value = json.text;
            document.forms[0].elements[6].value = json.image;
          }
        });
        t.timeout = setTimeout(function () {
          preview.html('');
        }, 1500);

      }, 1000);
    }

    t.current = t.value;

    return false;
  });
});
//-->
</script>

<%= form_for(news) do |f| %>
  <% if news.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(news.errors.count, "error") %> prohibited this news from being saved:</h2>

      <ul>
      <% news.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div align ="left"  id="filter_dlg_t2" >
    <%= t(:input_news_url_hint)%>
  </div>


  <div class="field" style="position:relative;left:10px;" id="url_input" >
    <%#= t(:news_URL) %>
    <input type="text" name="news[url]" value="" id="news_url" size="30"/>

    <button id = "get_news"> <%= t(:get_news) %> </button>
    <span id="loading_animate"></span>
  </div>

  <hr>

    <div align ="left"  id="filter_dlg_t6" >
      <%= t(:input_news_hint)%>
    </div>

  <div class="field" style="clear:both; padding-bottom:5px">
    <%= t(:news_title_field)%>
    <%= f.text_field :title, :id=>"news_form_title", :style=>"position:relative;left:34px;", :size=>64 %>
    <br>
  </div>

  <div class="field" style="clear:both;">

    <%= t(:news_content_field)%>
    <%= f.text_area :content, :id=>"news_form_content", :style=>"position:relative;left:34px" %>
  </div>

    <!--
    <input type="text" name="hide" value="" id="hide_text_box" />
    -->

  <div id="image_url" class="field" style="clear:both;">

    <%= t(:news_image_url_field)%>
    <input type="text" name="image_url" size="64" value="" id="image_url" style="position:relative;left:10px;"/>
  </div>
  <hr>

   <div style="display: none;">
      <%= f.text_area :area_string %>
   </div>


    <div id="sel_area_and_tag" style="display: ;">   <!-- show area and tags -->

              <div align = "left" id="filter_dlg_t2">
                <%= t(:set_areas)%>
                &nbsp;&nbsp;
              </div>

              <%# Area Selection  %>
                <div align = "left" id = "area_select_box2" >
                  <select id="area_filter2"  multiple="multiple" >

                        <% @areas.each do |area| %>
                              <% if area.parent_area != nil %>
                                 <option  id="<%= area.name %>" style='color:blue;font-size:14px;'>&nbsp;&nbsp;<%=t(area.name.to_sym)  %></option>
                              <% else %>
                                 <% if session[:default_area] == area.name %>
                                   <option  id="<%= area.name %>" selected='true' style='font-size:14px;'><%= t(area.name.to_sym)  %></option>
                                 <% else %>
                                    <option  id="<%= area.name %>" style='font-size:14px;'><%= t(area.name.to_sym)  %></option>
                                 <% end %>
                              <% end %>
                        <% end %>

                  </select>
                </div>

                <br><br>

                <div align = "left" id="filter_dlg_t2">
                   <%= t(:set_tags)%>
                   <br>
                </div>

                <div class = "all_tags" align = "left" style="clear:both;" >
                <%# !!!!!!!!!!! Todo:  將所有tags排整齊    %>
                <%# !!!!!!!!!!! Todo2:  sub-tag用不同字體 or color    %>


                  <% @tags.each do |tag| %>
                    <%# using type and name to identify each Input/Checkbox here %>

                    <% if tag.name == "FAQ" || tag.name == "Closed_spam" || tag.name == "Closed_spam_report" %>
                          <% break %>
                    <% end %>

                     <% if tag.id == 3  %>
                           <%# 這個items是feedback, 只有在feedback才顯示這個選項 %>
                                <input type="checkbox" name ="<%= tag.name %>" id="<%= tag.name + "_box" %>"  style="display: none;" />
                                   <span style="display: none;" id="<%= tag.name + "_lab" %>" >
                                      <%= t(tag.name.to_sym) %>
                                   </span>
                                </input>
                                <%next%>
                     <% elsif tag.id == 2  %>
                          <%# 這個items是system notice, 只有在administrator才顯示這個選項 %>
                          <%if(session[:host_id] == 670999089)%>
                               <input type="checkbox" name ="<%= tag.name %>" id="<%= tag.name %>"  />
                                     <%= t(tag.name.to_sym) %>
                               </input>
                          <% end %>
                     <% elsif tag.id == 1 %>

                            <div id="tag_grp1" >
                              <input type="checkbox" name ="<%= tag.name %>" id="<%= tag.name %>" >
                                 <%= t(tag.name.to_sym) %>
                              </input>
                              &nbsp;&nbsp;&nbsp;
                            </div>
                            <%= t(:same_as_select_all) %>
                            <br>
                     <% else %>
                            <div id="tag_grp2">
                            <input type="checkbox" name ="<%= tag.name %>" id="<%= tag.name %>" >
                               <%= t(tag.name.to_sym) %>
                            </input>
                            &nbsp;&nbsp;&nbsp;
                            </div>
                     <% end%>


                     <% if (tag.id - 3) % 6 == 0  %>
                        <br>
                     <% end %>


                  <% end %>
              </div>
              <br>
              <hr>
    </div>     <!-- end: show area and tags -->



    <div align="right" style="padding-bottom:10px">

      <input id="news_submit" name="commit" type="submit" disabled="disabled" value="<%= t(:add_news) %>" />

      <input class="simplemodal-close" id="news_cancel" name="cancel" type="submit" value="<%= t(:cancel) %>" />
      <!-- <button class="simplemodal-close">取消</button> -->
    </div>

<% end %>
