<html>
<body>
<% if session[:logged_in] == false %>
  <%= redirect_to paper_index_path %>
<% end %>

<% require 'nokogiri' %>
<% require 'open-uri' %>
<% # @uri = "www.facebook.com/sharer.php?u=http://www.littleshell.net&t=littleshell的網站" %>
<% @uri = @url %>
<%= @doc = Nokogiri::HTML(open(@uri)) %>
<%= @body = @doc.at_css('body').text %>

<%= render 'form', :locals => {:news => @news} %>

<%= link_to 'Back', paper_index_path %>
</body>
</html>
