
  <meta property="og:title" content="<%= @news.title %>"/>
  <meta property="og:type" content="news"/>
  <meta property="og:url" content="<%= news_url %>"/>
  <% if (@news.images[0] != nil) %>
  <meta property="og:image" content="<%= @news.images[0].url %> "/>
  <% end %>

  <script type="text/javascript">
    <%# TODO: how to prevent iframe redirect %>
    <% if (@news.url.include?("nownews")) %>
    window.onbeforeunload = function(){
      window.onbeforeunload = '';
      return "是否要離開此頁面";
    };
    <% end %>

    function getSrc(obj)
    {
      document.getElementById('news_url').value = obj.src;
      //document.getElementById('news_url').value = obj.contentDocument.URL;
      //document.getElementById('news_url').value = obj.contentWindow.location.href;

      $.getJSON("/news/report.json", 'url=' + obj.src, function(json){
        if (json.ret == 'url exist')
          {
            document.forms[0].elements[4].value = '';
            document.forms[0].elements[5].value = '';
            document.forms[0].elements[6].value = '';
            alert("<%= t(:news_already_exist) %>");
          }
          else
          {
            document.forms[0].elements[4].value = json.title;
            document.forms[0].elements[5].value = json.text;
            document.forms[0].elements[6].value = json.image;
          }
      });
    }
  </script>
</head>  <%# end tag for <head> in application.html.erb %>
<% news_id = @news.id %>
<body>
<% if detect_Mobile_browser(:show) == true %>
    <%= redirect_to(root_url + 'mobile/show_news?redirect_from_web=1&id=' + @news.id.to_s) %>
<% end %>

<div id="page">
  <div id="header">
    <div id="logo">
      <%= link_to( image_tag("/images/HeyGoTimes_logo.png"), {:controller =>'paper'}, {:title => 'to home page'} ) %>
      <span title ="<%= t(:tip_for_filter)%>"><%= @newspaper_title.to_s %></span>
    </div>

    <div id="page_head" >
      <%= show_page_head(:login_flag => true)  %>
    </div><!-- #links -->
  </div><!-- #header -->

  <div id="main">
    <div id="content">
      <div class="news">
        <% if @news.url != "" %>
          <!--a name='btn1' class='osx btn1' onclick="getSrc(document.getElementById('news_frame'))" title="<%= t(:report_this_news) %>" href="#"><%=t(:report_this_news)%></a-->
          <div>
            <% # TODO: use @paper_width %>
              <% if (@news.url.include?'youtu') %>
                <% url = 'http://www.youtube.com/embed/'+@news.url[-11..-1] %>
                <iframe id="news_frame" width="700" height="550" src="<%= url %>" frameborder="0" allowfullscreen></iframe>
              <% else %>
                <iframe id="news_frame" width="700" height="900" src="<%= @news.url %>">
                  Your browser can't display IFRAMEs
                </iframe>
              <% end %>
          </div>
        <% else %>
          <%# if @news.images[0].url != "" %>
            <div class="image">

               <% if @news.images[0].url != "" && @news.images[0] != nil%>
                  <img src="<%=@news.images[0].url%>" alt="image" width="140px">
               <% end %>

            </div>
          <%# end %>

          <div class="news_content">
            <%= @news.content.html_safe %>
          </div>
        <% end %>
        <div style="clear: both;"></div>
      </div> <!-- news -->
      <!-- Show functional buttons: Report_this_news-->
      <div id="functionalButton">
        <%= render :partial => 'paper/show_fun_buttons' %>
      </div>
      <div class="comments">
        <div class="comment_title"><%= t(:comments)%></div>
        <div class="button_group"></div>
        <div class="fb_comment" id="fb_comment<%= news_id %>">
          <div id="fb-root"></div>
          <script>
            window.fbAsyncInit = function() {
              FB.init({appId: <%= Facebooker2.app_id %>, status: true, cookie: true,
                       xfbml: true});
            };
            (function() {
              var e = document.createElement('script'); e.async = true;

              // Todo: we need to check the locale!!!!!!!!!!!!
              //
              e.src = document.location.protocol + '//connect.facebook.net/zh_TW/all.js';

              document.getElementById('fb-root').appendChild(e);
            }());
          </script>
          <fb:comments href='http://heygotimes.heroku.com/news/<%= news_id %>' num_posts='2' width='650'></fb:comments>
          <div style="clear: both;"></div>
        </div> <!-- fb_comment -->
      </div> <!-- comments -->
    </div>

      <%#= link_to 'Edit', edit_news_path(@news) %>

    </div><!-- #main -->


    <div id="ad" align="center">
      <!-- show AD list-->
        <% # TODO: use @ad_width, @ad_height, @ad_no %>
        <%= render :partial => 'paper/show_ad_list2'  %>  <!-- AD type = 橫幅廣告 -->
    </div>

  <!-- method 'show_page_tail' would be used by all controller, so it's implemented in application_helper.rb -->
    <div id="footer">
      <%= show_page_tail %>
    </div>

</div> <!-- #page -->

</body>

