<head>
  <meta property="og:title" content="HeyGoTimes - <%= @news.title %>"/>
  <meta property="og:type" content="news"/>
  <meta property="og:url" content="<%= news_url %>"/>
  <meta property="og:image" content="<%= @news.images[0].url.to_s %> "/>

  <script type="text/javascript">
    function getSrc(obj)
    {
      // document.forms[0].elements[4].value = obj.src;
      document.getElementById('news_url').value = obj.src;

      $.getJSON("/news/report.json", 'url=' + obj.src, function(json){
        if (json.ret == 'url exist')
          {
            document.forms[0].elements[4].value = '';
            document.forms[0].elements[5].value = '';
            document.forms[0].elements[6].value = '';
            alert("<%= t(:news_already_exist) %>");
          }
          else
          {
            document.forms[0].elements[4].value = json.title;
            document.forms[0].elements[5].value = json.text;
            document.forms[0].elements[6].value = json.image;
          }
      });
    }
  </script>
</head>

<div id="page">
  <div id="header">
    <div id="logo">
      <%= link_to( image_tag("/images/HeyGoTimes_logo.png"), {:controller =>'paper'}, {:title => 'to home page'} ) %>
      <span title ="<%= t(:tip_for_filter)%>"><%= @newspaper_title.to_s %></span>
    </div>

    <div id="page_head" >
      <%= show_page_head(:login_flag => true)  %>
    </div><!-- #links -->
  </div><!-- #header -->

  <div id="main">
    <div id="content">
      <div class="news">
        <% if @news.url != "" %>
          <a name='btn1' class='osx btn1' onclick="getSrc(document.getElementById('news_frame'))" title="<%= t(:report_this_news) %>" href="#"><%=t(:report_this_news)%></a>
          <div id="news_frame">
            <% # TODO: use @paper_width %>
              <iframe id="news_frame" height="900" width="700" src="<%= @news.url %>">
                 Your browser can't display IFRAMEs
              </iframe>
          </div>
        <% else %>
          <%# if @news.images[0].url != "" %>
            <div class="image">
             <img src="<%=@news.images[0].url%>" alt="image">
            </div>
          <%# end %>

          <div class="news_content">
            <%= @news.content.html_safe %>
          </div>
        <% end %>
        <!-- Show functional buttons : 1.Report_a_news/2.Edit_realtimes_news/3.my_AD  -->
        <div class="comments">
          <h3><%= t(:comments)%></h3>
          <div id="fb-root"></div>
          <script>
            window.fbAsyncInit = function() {
              FB.init({appId: <%= Facebooker2.app_id %>, status: true, cookie: true,
                       xfbml: true});
            };
            (function() {
              var e = document.createElement('script'); e.async = true;

              // Todo: we need to check the locale!!!!!!!!!!!!
              //
              e.src = document.location.protocol + '//connect.facebook.net/zh_TW/all.js';

              document.getElementById('fb-root').appendChild(e);
            }());
          </script>
          <fb:comments href="<%= "http://heygotimes.heroku.com/news/"+@news.id.to_s %>" num_posts="2" width="650"></fb:comments>

        </div>

      </div>
    </div>

      <%#= link_to 'Edit', edit_news_path(@news) %>

    </div><!-- #main -->

    <div id="sub">
      <!-- show AD list-->
      <div id="ad">
        <% # TODO: use @ad_width, @ad_height, @ad_no %>
        <%= render :partial => 'paper/show_ad_list' %>
      </div>
    </div>

  <!-- method 'show_page_tail' would be used by all controller, so it's implemented in application_helper.rb -->
    <div id="footer">
      <%= show_page_tail %>
    </div>

</div> <!-- #page -->



