<head>
  <meta property="og:title" content="HeyGoTimes - <%= @news.title %>"/>
  <meta property="og:type" content="news"/>
  <meta property="og:url" content="<%= news_url %>"/>
  <meta property="og:image" content="<%= @news.images[0].url.to_s %> "/>
</head>
<div id="page">
  <div id="header">
    <div id="masthead">
        <div id="logo">
          <%= link_to( image_tag("/images/HeyGoTimes_logo.png"), {:controller =>'paper'}, {:title => 'to home page'} ) %>
          <span title ="<%= t(:tip_for_filter)%>"><%= @newspaper_title.to_s %></span>
        </div>

        <div id="links" >
          <%= show_page_head(:login_flag => true)  %>
        </div><!-- #links -->

    </div><!-- #masthead -->
  </div><!-- #header -->



  <div id="main">
    <div id="content">
      <div id="news">
        <% # TODO: use @paper_width %>
          <iframe height="900" width="700" src="<%= @news.url %>">
             Your browser can't display IFRAMEs
          </iframe>
      </div>
      <div id="comments">
        <h3><%= t(:comments)%></h3>
        <div id="fb-root"></div>
        <script>
          window.fbAsyncInit = function() {
            FB.init({appId: <%= Facebooker2.app_id %>, status: true, cookie: true,
                     xfbml: true});
          };
          (function() {
            var e = document.createElement('script'); e.async = true;

            // Todo: we need to check the locale!!!!!!!!!!!!
            //
            e.src = document.location.protocol + '//connect.facebook.net/zh_TW/all.js';

            document.getElementById('fb-root').appendChild(e);
          }());
        </script>
        <fb:comments href="<%= "http://heygotimes.heroku.com/news/"+@news.id.to_s %>" num_posts="2" width="650"></fb:comments>

        </div>
      </div>

      <%= link_to 'Edit', edit_news_path(@news) %>

    </div>

    <div id="sub">
      <!-- show AD list-->
      <div id="ad">
        <% # TODO: use @ad_width, @ad_height, @ad_no %>
        <%= render :partial => 'paper/show_ad_list' %>
      </div>
    </div>
  </div><!-- #main -->



  <!-- method 'show_page_tail' would be used by all controller, so it's implemented in application_helper.rb -->
    <div id="footer">
      <%= show_page_tail %>
    </div>

</div> <!-- #page -->



