<head>
  <meta property="og:title" content="HeyGoTimes - <%= @news.title %>"/>
  <meta property="og:type" content="news"/>
  <meta property="og:url" content="<%= news_url %>"/>
  <meta property="og:image" content="<%= @news.images[0].to_s %> "/>
</head>

<p id="notice"><%= notice %></p>


<%= link_to 'Edit', edit_news_path(@news) %> |
<%= link_to 'Back', news_index_path %>
