<% news_id = @news.id %>
<% fb_obj_url = get_fb_obj_url(@news) %>

  <title><%= t(:HeyGoTimes)%> - <%= @news.title %></title>

  <meta property="og:title" content="<%= @news.title %>">
  <meta property="og:type" content="news">
  <meta property="og:url" content="<%= news_url %>">
  <meta property=”og:description” content=”<%= @news.content %>” >
  <% if (@news.images[0] != nil) %>
    <meta property="og:image" content="<%= @news.images[0].url %> ">
  <% end %>

  <script type="text/javascript">


      $(document).ready(function()
      {
          $('#logo').bt('<%= t(:logo_hint) %>',{positions: 'right',width:240, fill:'#bdc7d8'}) ;
          $('#to_comment_area').bt('<%= t(:to_comment_area_hint) %>',{positions: 'top',width:220, fill:'#bdc7d8'}) ;
          $('#fb_comment_title').bt('<%= t(:fb_comment_title_hint) %>',{positions: 'top',width:240, fill:'#bdc7d8'}) ;
          $('#news_frame').bt('<%= t(:news_frame_hint) %>',{positions: 'top',width:240, fill:'#bdc7d8'}) ;
          $('#share_to_facebook').bt('<%= t(:share_icon_hint) %>',{positions: 'top',width:200, fill:'#bdc7d8'}) ;
          $('#share_to_facebook2').bt('<%= t(:share_icon_hint) %>',{positions: 'top',width:200, fill:'#bdc7d8'}) ;

          $('#sthoverbuttons').bt('<%= t(:share_group_hint) %>',{positions: 'left',width:200, fill:'#bdc7d8'}) ;
          $('#to_top').bt('<%= t(:to_top_hint) %>',{positions: 'right',width:140, fill:'#bdc7d8'}) ;

          $('#fans_like_btn').bt('<%= t(:fb_fans_hint) %>',{positions: 'top',width:170, fill:'#bdc7d8'}) ;
       }) ;


    function getSrc(obj)
    {
      document.getElementById('news_url').value = obj.src;
      //document.getElementById('news_url').value = obj.contentDocument.URL;
      //document.getElementById('news_url').value = obj.contentWindow.location.href;

      $.getJSON("/news/report.json", 'url=' + obj.src, function(json){
        if (json.ret == 'url exist')
          {
            document.forms[0].elements[4].value = '';
            document.forms[0].elements[5].value = '';
            document.forms[0].elements[6].value = '';
            alert("<%= t(:news_already_exist) %>");
          }
          else
          {
            document.forms[0].elements[4].value = json.title;
            document.forms[0].elements[5].value = json.text;
            document.forms[0].elements[6].value = json.image;
          }
      });
    }
    function comment(resp)
    {
      var pos = resp.href.indexOf('/news/');
      var id = resp.href.substring(pos+6);
      pos=id.indexOf('-');
      id=id.substring(0, pos);

      $.ajax({
        type: "POST",
        url: "/news/comment",
        data: "news_id="+id
      });
    }

    function share(id, url, title)
    {
      var url = 'http://www.facebook.com/sharer.php?u='+url+'&t='+title;
      $.ajax({
        type: "POST",
        url: "/news/share",
        data: "news_id="+id,
        complete: function(){
          location.href=url;
        }
      });
    }

    function share_group()
    {
      $.ajax({
        type: "POST",
        url: "/news/share",
        data: "news_id=<%= news_id %>"
      });
    }
  </script>
  <script type="text/javascript">var switchTo5x=true;</script><script type="text/javascript" src="http://w.sharethis.com/button/buttons.js"></script><script type="text/javascript">stLight.options({publisher:'24387ba6-8c08-4755-b993-eecc254891d5', st_url: '<%= fb_obj_url %>', embeds:true});stLight.subscribe("click",share_group);</script>
</head>  <%# end tag for <head> in application.html.erb %>

<body>
<% if detect_Mobile_browser(:show) == true %>
    <%= redirect_to(root_url + 'mobile/show_news?redirect_from_web=1&id=' + @news.id.to_s) %>
<% end %>

<div id="news_page">
  <div id="news_header">
    <div id="logo">
      <%= link_to( image_tag("/images/HeyGoTimes_logo.png"), {:controller =>'paper'}, {:title => 'to home page'} ) %>
    </div>

    <span id="filter_hint">
      <%= t(:to_heygotimes_main_page) %>
      <%= link_to(t(:HeyGoTimes), {:controller =>'paper'}, {:title => 'to home page'}) %>
    </span>


  </div><!-- #header -->

  <div id="sthoverbuttons">
    <div class="sthoverbuttons-chicklets">
      <span class="st_facebook_large"> </span>
      <span class="st_twitter_large"> </span>
      <span class="st_tumblr_large">  </span>
      <span class="st_sina_large">  </span>
      <span class="st_linkedin_large">  </span>
      <span class="st_gbuzz_large">  </span>

    </div>
  </div>

  <div id="main">
    <div style="width:90%;margin-top: 5px;margin-left: 93px;">
      <span id="to_comment_area">
        <input
          type="button"
          name="groovybtn1"
          class="groovybutton_W"
          value="<%= t(:comment_this_news) %>↓"
          style="float: left"
          onclick="window.scrollTo(0,1000) ;">
      </span>

      <span>
       <a href="#">
       <input  id="share_to_facebook"
          type="button"
          name="groovybtn2"
          class="groovybutton_W"
          value="<%= t(:share_this_news) %>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"
          style="float: left"
          onclick="share('<%= @news.id %>', '<%= fb_obj_url %>', '<%= @news.title %>');">
        <img id = "share_to_facebook2" style="position:absolute;left:334px;top:121px;" src='/images/facebook_icon.png' onclick="share('<%= @news.id %>', '<%= fb_obj_url %>', '<%= @news.title %>');" />
        </a>
      </span>
      <span id="fans_like_btn" style="background-color:#0077BB;position:absolute;right:8%;height:27px;padding-top: 5px;">
        <a style="font-size: 1.4em;color: white;" href="https://www.facebook.com/pages/HeyGo-Times-%E5%8F%B0%E7%81%A3/131802886903681" ><%= t(:fb_fans) %></a> <fb:like href="https://www.facebook.com/pages/HeyGo-Times-%E5%8F%B0%E7%81%A3/131802886903681" send="false" layout="button_count" width="50" show_faces="false" font=""></fb:like>
      </span>
    </div>

    <div id="content_no_ad" style="width:85%;margin: 0 auto;">
      <div class="news">

        <% if @news.url != nil && @news.url != "" %>
          <!--a name='btn1' class='osx btn1' onclick="getSrc(document.getElementById('news_frame'))" title="<%= t(:report_this_news) %>" href="#"><%=t(:report_this_news)%></a-->
          <div>
            <% # TODO: use @paper_width %>
              <% if  (@news.url.include?'youtu') %>
                <% url = 'http://www.youtube.com/embed/'+@news.url[-11..-1] %>
                <div style="clear: both;font-size:24px;margin: 10px;"> <%= @news.title %> <br></div>
                <iframe id="news_frame" width="700" height="550" src="<%= url %>" frameborder="0" allowfullscreen></iframe>

              <% else %>
                <iframe id="news_frame" width='100%' height="800" src="<%= @news.url %>">
                  Your browser can't display IFRAMEs
                </iframe>
              <% end %>
          </div>
        <% else %>
          <%# if @news.images[0].url != "" %>
            <div class="image">

               <% if @news.images[0] != nil && @news.images[0].url != "" %>
                  <img src="<%=@news.images[0].url%>" alt="image" width="140px">
               <% end %>

            </div>
          <%# end %>

          <div class="news_content">
            <%= @news.content.html_safe %>
          </div>
        <% end %>
        <div style="clear: both;"></div>
      </div> <!-- news -->

      <div align="center">
             <%= render :partial => 'paper/show_ad_list2' %>
      </div>



      <!-- Show functional buttons: Report_this_news-->
      <div id="functionalButton">
        <%= render :partial => 'paper/show_fun_buttons' %>
      </div>
      <div class="comments">
        <div class="comment_title" id="fb_comment_title"><%= t(:comments)%></div>

        <div class="button_group"></div>
        <div class="fb_comment" id="fb_comment<%= news_id %>">
          <div id="fb-root"></div>
          <script>
            window.fbAsyncInit = function() {
              FB.init({appId: <%= Facebooker2.app_id %>, status: true, cookie: true, xfbml: true});
              FB.Event.subscribe('comment.create',function(resp){comment(resp);});
            };
            (function() {
              var e = document.createElement('script'); e.async = true;
              // Todo: we need to check the locale!!!!!!!!!!!!
              //
              e.src = document.location.protocol + '//connect.facebook.net/zh_TW/all.js';
              document.getElementById('fb-root').appendChild(e);
            }());
          </script>
          <fb:comments href='<%= fb_obj_url %>' num_posts='5' width='900'></fb:comments>
          <div style="clear: both;"></div>

          <span id="to_top" style="float:left;">
           <input
             type="button"
             name="groovybtn1"
             class="groovybutton_W"
             value="<%= t(:m_to_top) %>↑"
             style="float: left"
             onclick="window.scrollTo(0,0) ;">
           </span>


        </div> <!-- fb_comment -->
      </div> <!-- comments -->
    </div>

      <%#= link_to 'Edit', edit_news_path(@news) %>

    </div><!-- #main -->


    <!--div id="sub">
      <div id="ad">
        <br><br>
        <a href="http://itunes.apple.com/us/app/heygo!-times/id455478303?ls=1&mt=8"><img width="120px" src="/images/appStoreBadge.png"/></a>
        <br><br>
        <%# TODO: use @ad_width, @ad_height, @ad_no %>
        <%#= render :partial => 'paper/show_ad_list' %>
      </div>
    </div-->

    <div id="suggest" style="clear: both;">
      <hr>
      <div class="suggest_title" style='font-size: 1.6em;'><%= t(:suggests) %></div>
      <div style="float: left; width: 50%;">
        <ul class="link" style='font-size: 1.6em;list-style-type:square;'>
          <% @suggest_news.each do |news| %>
            <% if (news.special_flag==false) %>
              <% url=news_index_path+'/'+news.fb_obj_url %>
            <% else %>
              <% url=news_index_path+'/'+news.id.to_s %>
            <% end %>
            <li><a href="<%= url %>"><%= news.title %></a></li>
          <% end %>
        </ul>
      </div>
      <div style="float: right; width: 50%;">
        <fb:like-box href="https://www.facebook.com/pages/HeyGo-Times-%E5%8F%B0%E7%81%A3/131802886903681" width="550" show_faces="false" border_color="white" stream="true" header="false"></fb:like-box>
      </div>
    </div>



  <!-- method 'show_page_tail' would be used by all controller, so it's implemented in application_helper.rb -->
    <div id="news_footer">
      <%= show_page_tail %>
    </div>

</div> <!-- #page -->

</body>

