
<script>

    $(document).ready(function (){



     //~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
     //  Function:  get_today_as_string
     //
     function get_today_as_string()
     {
         var data = "";
         var M = new Date()
         M.setDate(M.getDate())

         var yy=M.getFullYear()
         var mm=M.getMonth()+1
         var dd=M.getDate()

         data = (yy+"-"+mm+"-"+dd) ;
         return data ;

     }
     // end of function get_today_as_string



     //~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
     //  function:  collect_all_selection
     //    - collect all selection and save them in a string (for caller using ajax call)
     //
     function collect_all_selection()
     {
         // collection all filter setting, and make it as format like:  "aa=123&bb=test"
         var data = "tag_filter=" ;
         var selected_tag_counter = 0 ;
         var date_data = "&date_filter_option=" ;
         var area_data = "&area_filter="

         // get selected area-filter
         for(i=0;i<($('option').length);i++)
         {

            if( $('option')[i].parentNode.id != "area_filter")
                  continue ;

            if($('option')[i].selected == true)
            {
                area_data += ($('option')[i].id + "/")
                if($('option')[i].id == "All_area" )
                    break ;
            }
         }

         // get selected tag-filter
         for(i=0;i<($('option').length);i++)
         {

            if( $('option')[i].parentNode.id != "tag_filter")
                  continue ;

             if($('option')[i].id == "All" && $('option')[i].selected == true)
             {
                 selected_tag_counter = 1 ;
                 data +='All' ;  // 既然選擇了All, 後面的tag就不用check了
                 break ;
             }

             if($('option')[i].selected == true)
             {
                data += ($('option')[i].id + "/") ;
                selected_tag_counter++ ;

             }
         }
         if(selected_tag_counter == 0 )
            data +='All' ;

         // get friend-filter
         //
         data += "&friend_filter=" ;
         if($('#my_news_only')[0].checked == true)
             data+="mine/" ;
         if($('#my_friends_news_only')[0].checked == true)
             data+="friend/" ;

         // get Date-Filter
         //
         if($('#yesterday')[0].checked == true)
         {
             var mydate= new Date()
             mydate.setDate(mydate.getDate()-1)

             var theyear=mydate.getFullYear()
             var themonth=mydate.getMonth()+1
             var theyesterday=mydate.getDate()

             data += ("&date_filter=" + theyear+"-"+themonth+"-"+theyesterday) ;
             date_data += "yesterday" ;

         }
         else if($('#today')[0].checked == true)
         {
             data += ("&date_filter=" + get_today_as_string() ) ;
             date_data += "today" ;
         }
         else   // no selection   or  ($('#no_filter')[0].checked == true)
         {
              data += "&date_filter=1971-11-12" ;
              date_data += "no_limited" ;

         }

         data += date_data ;
         data += area_data ;
         return data ;
     }
     //
     // end of function:  collect_all_selection




     //~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
     //  btn - save_filter
     //
     $('#save_filter').unbind('click').click(function()
     {

         // send filter-setting to server, then server would save them in session(session only, not db)
         var data = collect_all_selection() ;
         data += "&save=yes" ;

         // send to server
         $.ajax(
         {
             type: "GET",
             url:"/paper/set_filter_setting",
             data: data,
             success: function(html)
             {
                 // redirect to main page in order to redraw the news by new filter!
                  window.location.replace("/mobile/index/");
             }
         });

         return false ;

     }  );
       //
       // end of "#save_filter".click callback function




    }) ;

    function check_tags(the_box)
    {

        if(the_box != "All")
        {
            for(i=0;i<($('option').length);i++)
            {

               if( $('option')[i].parentNode.id != "tag_filter")
                     continue ;

                if($('option')[i].id == "All" && $('option')[i].selected == true)
                {
                    $('option')[i].selected = false ;
                    break ;
                }

            }

        }
        else
        {

            for(i=0;i<($('option').length);i++)
            {

               if( $('option')[i].parentNode.id != "tag_filter")
                     continue ;

                if($('option')[i].id == "All")
                    continue ;

                $('option')[i].selected = false ;

            }

        }



                      /*
        // get selected tag-filter
         for(i=0;i<($('option').length);i++)
         {

            if( $('option')[i].parentNode.id != "tag_filter")
                  continue ;

             if($('option')[i].id == "All" && $('option')[i].selected == true)
             {
                 selected_tag_counter = 1 ;
                 data +='All' ;  // 既然選擇了All, 後面的tag就不用check了
                 break ;
             }

             if($('option')[i].selected == true)
             {
                data += ($('option')[i].id + "/") ;
                selected_tag_counter++ ;

             }
         }              */

    }



</script>



<!-- select Area-->
<h2>Select Area:</h2>
<select id="area_filter" name="area_filter" multiple="multiple" size="1" style="width:100%; font-size:16px;">
   <% @areas.each do |area| %>
     <% if session[:filter_area].include?(area.name) %>
          <% if area.parent_area != nil %>
              <option  id="<%= area.name %>" selected="yes" ><%= "-" + t(area.name.to_sym)  %></option>
          <% else %>
             <option  id="<%= area.name %>" selected="yes" ><%= t(area.name.to_sym)  %></option>
          <% end %>
     <% else %>
          <% if area.parent_area != nil %>
              <option  id="<%= area.name %>" ><%= "-" + t(area.name.to_sym)  %></option>
          <% else %>
              <option  id="<%= area.name %>" ><%= t(area.name.to_sym)  %></option>
          <% end %>
     <% end %>
   <% end %>
</select>
<br>
<hr>

<!-- select tag-->
<h2>Select Tags:</h2>
<select id="tag_filter" name="tag_filter" multiple="multiple" size="1" style="width:100%; font-size:16px;">
   <% @tags.each do |tag| %>
     <% if tag.id == 2 || tag.id == 3 || tag.name == 'FAQ' || tag.name == "Closed_spam" || tag.name == "Closed_spam_report" %>
          <% next %>
     <% end %>

     <% if session[:filter_tags].include?(tag.name) %>
          <!--
            <option  id="<%= tag.name %>" selected="yes" onclick="check_tags(id)" ><%= t(tag.name.to_sym)  %></option>
            -->
          <option  id="<%= tag.name %>" selected="yes" ><%= t(tag.name.to_sym)  %></option>
     <% else %>
          <!--
           <option  id="<%= tag.name %>"  onclick="check_tags(id)"><%= t(tag.name.to_sym)  %></option>
           -->
          <option  id="<%= tag.name %>" ><%= t(tag.name.to_sym)  %></option>

     <% end %>
   <% end %>
</select>
<br>
<hr>



<h2> <%= t(:m_setting_list) %> </h2>
<ul>
  <li><a href="#select_friend" onclick=" window.scroll(0,0) ; "> <%= t(:filter_by_friend) %> </a></li>

  <li><a href="#select_date" onclick=" window.scroll(0,0) ; "> <%= t(:filter_by_date) %> </a></li>

<hr>

  <div align="center">
    <button id="save_filter" class="redButton" style='width:96%;;font-size:14px'><%= t(:filter_ok) %> </button>
  </div>



</ul>

