
<script>


</script>


<h2><%= t(:m_function) %> </h2>
  <% if session[:logged_in] == true %>    <!-- Registered user only -->

        <div alogn align="center">
          <button id = "load_my_filter" class="whiteButton" style='width:96%;'><%= t(:load_my_filter) %> </button>
        </div>

  <% end %>


    <div alogn align="center">
      <button id = "reset_all" class="whiteButton" style='width:96%;'><%= t(:reset_the_filter) %> </button>
    </div>


  <% if session[:logged_in] == true %>    <!-- Registered user only -->

        <div alogn align="center">
          <button id="save_as_default" class="redButton" style='width:96%;font-size:14px'><%= t(:filter_save_as_default) %> </button>
        </div>

  <% end %>


    <div align="center">
      <button id="save_filter" class="redButton" style='width:96%;;font-size:14px'><%= t(:filter_ok) %> </button>
    </div>


<hr>


<!-- select Area-->
<h2>Select Area:</h2>
<select id="area_filter" name="area_filter" multiple="multiple" size="1" style="width:100%; font-size:16px;">
   <% @areas.each do |area| %>
     <% if session[:filter_area].include?(area.name) %>
             <option  id="<%= area.name %>" selected="yes" ><%= t(area.name.to_sym)  %></option>
     <% else %>
           <option  id="<%= area.name %>" ><%= t(area.name.to_sym)  %></option>
     <% end %>
   <% end %>
</select>
<br>
<hr>

<!-- select tag-->
<h2>Select Area:</h2>
<select id="tag_filter" name="tag_filter" multiple="multiple" size="1" style="width:100%; font-size:16px;">
   <% @tags.each do |tag| %>
     <% if session[:filter_tags].include?(tag.name) %>
            <option  id="<%= tag.name %>" selected="yes" ><%= t(tag.name.to_sym)  %></option>
     <% else %>
           <option  id="<%= tag.name %>" ><%= t(tag.name.to_sym)  %></option>
     <% end %>
   <% end %>
</select>
<br>
<hr>



<h2> <%= t(:m_setting_list) %> </h2>
<ul>
  <li><a href="#select_friend" onclick=" window.scroll(0,0) ; "> <%= t(:filter_by_friend) %> </a></li>
  <li><a href="#select_date" onclick=" window.scroll(0,0) ; "> <%= t(:filter_by_date) %> </a></li>


</ul>

