
<% if news != nil %>
  <% news.each do |news| %>

        <% if (news.like_count == nil) %>
          <% news.watch_count = 0 %>
          <% news.like_count = 0 %>
          <% news.unlike_count = 0 %>
          <% news.share_count = 0 %>
          <% news.comment_count = 0 %>
          <% news.save %>
        <% end %>


    <div class="m_news" id="m_news<%= news.id %>">
      <div class="m_news_title">
          <a href="#m_news_page" onclick="
              $('.news_iframe').remove();   // clear iframe
              $('.m_news_fb_comments').remove() ;
              showNews(<%= news.id %>)"><%= news.title %></a>
      </div>

      <div class="info">
        <!-- OKOK:時區需要判斷  -->
        <%= t(:info_2) %>
        <% if session[:default_locale] == "en" %>
             <%= news.created_at.in_time_zone("Central Time (US & Canada)").strftime("%Y/%m/%d %H:%M") %>
        <% else %>
             <%= news.created_at.in_time_zone("Taipei").strftime("%Y/%m/%d %H:%M") %>
        <% end %>
        <%= t(:info_3) %>

        <%= t(:info_tags) %>:
        <% news.tags.each do |tag| %>
            <%= t(tag.name.to_sym) + " " %>
        <% end %>
      </div>

      <div class="m_image" align="left">
             <% if news.images != [] %>
                <img src="<%=news.images[0].url.to_s%>" alt="image" style="max-width:150px;"
                        onerror="javascript:this.src='http://heygotimes.heroku.com/images/newspaper_bw.jpg'">
             <% end %>
      </div>

      <div class="m_news_content">
        <%= news.content.html_safe %>
      </div>

      <div class="m_comments">

        <%# graph = Koala::Facebook::GraphAPI.new() %>
        <% fb_obj_url = get_fb_obj_url(news) %>
        <%# fb_obj = graph.get_object(fb_obj_url) %>
        <%# comments = (fb_obj['comments'] == nil)? 0: fb_obj['comments'] %>
        <%# shared = (fb_obj['shares'] == nil)? 0: fb_obj['shares'] %>


        <div class="m_comment_title" id="m_comment_title_<%= news.id %>" onclick="expand_comment(<%= news.id %>,'<%= fb_obj_url %>');"><a href="javascript:void(null)"><%= t(:comments)%></a><span id='expand_comment<%= news.id %>'><a href="javascript:void(null)"><%= '(' + news.comment_count.to_s + ')' %>
             <img class="button-icon-expand" src="/images/expand.png" alt="" /></a></span></div>
        <div class="m_button_group">
          <span class='share_count count_span' id='share_count<%= news.id %>'><%= news.share_count %></span><a style="float: right;" href="javascript:void(null)" onclick="share('<%= news.id %>', '<%= fb_obj_url %>', '<%= news.title %>');" title="<%= t(:share_hint) %>">
             <img class="button-icon-share" src="/images/facebook_icon.png" alt="" width="16" /></a>
          <span class='unlike_count count_span' id='unlike_count<%= news.id %>'><%= news.unlike_count %></span><a style="float: right;" href="javascript:void(null)" onclick="like(<%= session[:id] %>, <%= news.id %>, 0);">
             <img class="button-icon-unlike" src="/images/unlike_button.png" alt="" width="16"  ></a>
          <span class='like_count count_span' id='like_count<%= news.id %>'><%= news.like_count %></span><a style="float: right;" href="javascript:void(null)" onclick="like(<%= session[:id] %>, <%= news.id %>, 1);">
             <img class="button-icon-like" src="/images/like_button.png" alt="" width="16"  /></a>
        </div>
        <div class="fb_comment" id="fb_comment<%= news.id %>">
          <div id="fb-root"></div>
          <script>
            window.fbAsyncInit = function() {

              FB.init({appId: <%= Facebooker2.app_id %>, status: true, cookie: true,
                       xfbml: true});
            };
            (function() {
              var e = document.createElement('script'); e.async = true;

              // Todo: we need to check the locale!!!!!!!!!!!!
              //
              e.src = document.location.protocol + '//connect.facebook.net/zh_TW/all.js';

              document.getElementById('fb-root').appendChild(e);
            }());
          </script>

        </div><!-- fb_comment -->
        <div style="clear: both;"></div>
      </div><!-- m_comments -->
    </div>
    <hr>

    <%# if (index != 0) %>

    <%# end %>
  <% end %>
<% end %>


