
   <title>Page Title</title>
   <meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0; user-scalable=0;"/>

   <link rel="icon" type="image/png" href="/images/HeyGoTimes_logo.png">
   <link rel="apple-touch-icon" href="/images/HeyGoTimes_logo.png" />

   <meta name="apple-touch-fullscreen" content="YES" />
   <meta name="apple-mobile-web-app-capable" content="yes" />

   <link type='text/css' href='/stylesheets/mobile/iui.css' rel='stylesheet'  />
   <link type='text/css' href='/stylesheets/mobile/default-theme.css' rel='stylesheet'  />
   <link type='text/css' href='/stylesheets/mobile/iui-panel-list.css' rel='stylesheet'  />
   <link type='text/css' href='/stylesheets/mobile/iui_ext.css' rel='stylesheet'  />

   <script type="application/x-javascript" src="/javascripts/mobile/iui_ext.js"></script>
   <script type="application/x-javascript" src="/javascripts/mobile/iui.js"></script>

   <script type="text/javascript">

    function like(user, news, like){
      // ask session data from server
      $.getJSON("/news/like.json", {user: user, news: news, like: like}, function(json)
      {
        $('#like_count'+news).html(json.like_count);
        $('#unlike_count'+news).html(json.unlike_count);

      });
    }

    function expand_comment(news_id){
      var comment_str = "<fb:comments href='http://heygotimes.heroku.com/news/"+news_id+"'"+"num_posts='2' width='320'></fb:comments>";

      $('#expand_comment'+news_id).html("");
      $('#fb_comment'+news_id).append(comment_str);
      FB.XFBML.parse(document.getElementById('comments'));
    }

    function loadMore(type, pageNo) {
      var t = $("#m_paperContent");
      var url = '/mobile/_show_paper_content?type='+type+'&page='+pageNo;
      var preview = $("#loading_more_news").html("<img src='/images/fb_loading_large.gif' width='20' height='20' />");

      $.get(url, function(response) {
        if (jQuery.trim(response) == '')
          $("#more_news").html('<%= t(:m_no_more) %>');
        else
          $("#m_paperContent").append(response);
      });
      t.timeout = setTimeout(function () {
        preview.html('');
      }, 3000);
    }

    function changePaperType(type) {
      var url = '/mobile/_show_paper_content?type='+type+'&page=1';
      loading_animate(true);
      $("#m_paperContent").load(url, function(response, status, xhr) {
        loading_animate(false);
        $("#more_news").html("<%= t(:m_more) %><span id='loading_more_news'></span>");
      });
    }

    function showNews(id){
      var url = '/mobile/show_news?id='+id;
      $("#m_news_main").load(url);
    }

    function loading_animate(on){
      if (on)
        $('#loading_animate').html("<img src='/images/fb_loading_large.gif'/>");
      else
        $('#loading_animate').html('');
    }

    $(document).ready(function() {
      var currPage = 1;
      var currType = 'latest';

      $('#more_news').unbind('click').click(function() {
        loadMore(currType, ++currPage);
      });

      $('#menu-item-rank').unbind('click').click(function(){
        $('#menu-item-latest').removeClass("current-menu-item")
        $(this).addClass("current-menu-item")
        currPage = 1;
        currType = 'rank';
        changePaperType(currType);
      });

      $('#menu-item-latest').unbind('click').click(function(){
        $('#menu-item-rank').removeClass("current-menu-item")
        $(this).addClass("current-menu-item")
        currPage = 1;
        currType = 'latest';
        changePaperType(currType);
      });

      loading_animate(false);
    });


    function onLoginBtn()
    {
      /* On Facebook Login */
      var my_client_id  = "<%= Facebooker2.app_id %>";
      var my_redirect_uri   = "<%= root_url+'mobile/index/' %>";
      my_type           = "user_agent";
      my_display        = "touch" ;

      var authorize_url  = "https://graph.facebook.com/oauth/authorize?";
      authorize_url += "client_id="+my_client_id;
      authorize_url += "&redirect_uri="+my_redirect_uri;
      authorize_url += "&display="+my_display;
      authorize_url += "&scope=publish_stream"


      window.location.replace(authorize_url);
    }

    function set_default_locale(new_locale)
    {
        // ask server to set session[:default_locale] then reload the main-page
        data = "locale=" + new_locale

        // send to server
         $.ajax(
         {
             type: "GET",
             url:"/paper/set_default_locale",
             data: data,
             success: function(html)
             {
                 // redirect to main page in order to redraw the news by new filter!
                  window.location.replace("/mobile/index");
             }
         });


    }

  </script>

</head>



<div id="fb-root"></div>
<script src="http://connect.facebook.net/zh_TW/all.js"></script>

<script>
  FB.init({
      appId  : "<%= Facebooker2.app_id %>",
      status : true, // check login status
      cookie : true, // enable cookies to allow the server to access the session
      xfbml  : true  // parse XFBML
  });


  FB.getLoginStatus(function(response)
  {
    // must reload the page when login-status is different between facebook and "facebooker2"
    //
    logging_status_in_server = "<%= session[:logged_in] %>"


    if (response.session)
    {
      // logged in and connected user, someone you know
        if(logging_status_in_server == "false")
           window.location.replace("<%= root_url+'mobile/index/' %>") ;
    }
    //else {
      // no user session available, someone you dont know
    //}
  });
</script>



<div class="toolbar">
  <h1 id="pageTitle"></h1>
  <a id="backButton" class="button" href="#"></a>
  <div align="right" style="padding:2px 0px;    ">
  <a  href="#filter"><img src="/images/mobile/dog_48x40.png" width="32" height="32"/></a>
  </div>

</div>



<!-- !!!!!!!!! Page - NewsPaper  -->
<div id="paper" title="<%= t(:HeyGoTimes) %>"  selected= "true" >
  <div id="m_cmd_bar">
    <div class="menu-header">
      <ul id="menu-area" class="menu">
        <li id="menu-item-rank" class="menu-item type-btn <%= 'current-menu-item' if (session[:news_type] == 'rank') %>"><a title="Rank" href="#_paper"><%=t(:popular_news)%></a></li>
        <li id="menu-item-latest" class="menu-item <%= 'current-menu-item' if (session[:news_type] == 'latest') %>"><a title="Latest" href="#_paper"><%=t(:latest_news)%></a></li>
        <li id="menu-item-filter" class="menu-item fun-btn"><a title="<%= t(:m_filter_setting) %>" href="#filter"><%=t(:m_filter)%></a></li>
        <% if session[:logged_in] == true %>
          <li id="menu-item-fb" class="menu-item fun-btn"><%= fb_logout_link(t(:m_logout), root_url+"mobile/index") %></li>
        <% else %>
          <li id="menu-item-fb" class="menu-item fun-btn"><a onclick="onLoginBtn()"><img src="/images/mobile/login_with_facebook.jpeg" title="facebook login" /><%= t(:login) %></a></li>
        <% end %>
      </ul>
    </div>
  </div><!-- #m_cmd_bar -->

  <hr style="clear:both;">
  <div id="loading_animate" style="position:fixed;top:80px;left:50%;margin-left:-16px;"><img src="/images/fb_loading_large.gif" alt=""/></div>

  <div id="m_paperContent">
    <%= render :partial => 'mobile/show_paper_content', :locals => {:news => @news} %>
  </div>
  <div class="m_ad">
    <%= render :partial => "m_show_ad" %>
  </div>
  <div align="center">
    <button id="more_news" style="height: 30px; width:100%;font-size:1.0em;"><%= t(:m_more) %><span id="loading_more_news"></span></button>
  </div>

  <div class="menu-item" align="center">
    <a href="#" onclick="set_default_locale('zh_tw')">繁體中文</a> &nbsp;
    <a href="#" onclick="set_default_locale('zh')">简体中文</a>  &nbsp;
    <a href="#" onclick="set_default_locale('en')">English</a>
  </div>
</div>

<div id="m_news_page">
  <div id="m_news_main">
  </div> <!-- m_news_main -->
  <div class="m_ad">
    <%= render :partial => "m_show_ad" %>
  </div>
</div>

<!-- !!!!!!!!! Page - Filter  -->
<div id="filter" title="<%= t(:m_filter_setting) %>" class="panel">
  <%= render :partial => 'mobile/m_set_filter'%>

  <div align ="center" >
     <br> <br><hr>
     <%= render :partial => "m_show_ad" %>
   </div>
</div>



<!-- friend filter selection PAGE-->
<div id="select_friend" title="<%= t(:filter_by_friend) %>" class="panel">
  <% if session[:logged_in] == false %>

    <h1> <%= t(:login_for_set_friend_filter) %> </h1>

  <% else %>

    <h1> <%= t(:filter_by_friend) %></h1>
    <br>
    <div style="font-size:14px">
      <% if session[:filter_friend].include?("mine")  %>
        <input type="checkbox" id="my_news_only" name="friend_filter"  checked="true"> <%= t(:my_news_only)%>  </input>
      <% else %>
        <input type="checkbox" id="my_news_only" name="friend_filter"> <%= t(:my_news_only)%>  </input>
      <% end %>
      <br>

      <% if session[:filter_friend].include?("friend")  %>
         <input type="checkbox" id="my_friends_news_only" name="friend_filter" checked="true"> <%= t(:my_friends_news_only)%>  </input>
      <% else %>
         <input type="checkbox" id="my_friends_news_only" name="friend_filter"> <%= t(:my_friends_news_only)%>  </input>
      <% end %>
    </div>

      <div align ="center" >
         <br> <br> <br><hr>
         <%= render :partial => "m_show_ad" %>
      </div>
  <% end %>
</div>



<!-- date filter selection PAGE-->
<div id="select_date" title="<%= t(:filter_by_date) %>" class="panel">
  <h1>Select Date:</h1>
  <% if session[:filter_date_option].include?("no_limited") %>
     <input type="radio" name = "date" id="no_filter" value = "no_filter" checked="true"> <%= t(:no_date_filter)   %>
  <% else %>
      <input type="radio" name = "date" id="no_filter" value = "no_filter"> <%= t(:no_date_filter)   %>
  <% end %>
  <br>

  <% if session[:filter_date_option].include?("yesterday") %>
     <input type="radio" name = "date" id="yesterday" value = "yesterday" checked="true"> <%= t(:yesterday)   %>
  <% else %>
      <input type="radio" name = "date" id="yesterday" value = "yesterday"> <%= t(:yesterday)   %>
  <% end %>
  <br>

  <% if session[:filter_date_option].include?("today") %>
     <input type="radio" name = "date" id="today" value = "today" checked="true"> <%= t(:today)%>
  <% else %>
      <input type="radio" name = "date" id="today" value = "today"> <%= t(:today)%>
  <% end %>

  <div align ="center" >
     <br> <br> <br><hr>
     <%= render :partial => "m_show_ad" %>
  </div>

</div>



   <!-- MOBILE VER.先不提供 REPORT的功能-->
   <!-- !!!!!!!!! Page - Report  -->
   <!--
   <ul id="report" title="report_page"  class="panel">
     <%#= render :partial => 'mobile/m_report'%>
   </ul>
   -->

