<!DOCTYPE html>
<html>

<div id="header">
<!-- 顯示頁首的所有元素 - logo, search bar, 許多功能連結, login/logout... -->

  <div id="logo" >	
    <!-- "to_main_page" is defined in application_controller.rb -->
    <%=     link_to( image_tag("/images/HeyGoTimes_logo.png"), {:action =>'to_main_page'},\
        {:title => 'to home page'} )  %>
  </div>

  <div id="search_bar" align="right">
    <!--- # show_search_bar is implemented in search_helper.rb  
	  show_search_bar@search_helper.rb ==> render _search_bar.html.erb ==> submit ==> search/do_search
    --->
    <%= show_search_bar :paper  %>
  </div>
  
  <div>
    <%= link_to '過濾與排序', {:action => 'filiter_and_sort_news'}, {:title => '過濾並排序即時新聞'} %> 
 
    <!-- method 'show_page_tail' would be used by all controller, so it's implemented in application_helper.rb 
     if parameter of 'show_page_head' is true means: show link of 'editor' 
    -->
    <%= show_page_head false  %>
  </div>
  
  <br>
  
 
  
</div>




  <br><br><hr>
  <%= show_page_tail %>

</html>  