<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @real_time_news.title %>
</p>

<p>
  <b>Url:</b>
  <%= @real_time_news.url %>
</p>

<p>
  <b>Area:</b>
  <%= @real_time_news.area %>
</p>

<p>
  <b>Tag:</b>
  <%= @real_time_news.tag %>
</p>

<p>
  <b>Content:</b>
  <%= @real_time_news.content %>
</p>

<p>
  <b>Time:</b>
  <%= @real_time_news.time %>
</p>

<%= link_to 'Edit', edit_real_time_news_path(@real_time_news) %> |
<%= link_to 'Back', real_time_news_index_path %>
