
<html> 
<head> 
<title>HeyGo! Times 服務條款</title>
<meta http-equiv=Content-Type content="text/html; charset=utf-8"> 

<link rel="stylesheet" type="text/css" href="/stylesheets/term1.css" />
<link rel="stylesheet" type="text/css" href="/stylesheets/term2.css" />


<!--link rel=stylesheet type="text/css" href="http://l.yimg.com/f/i/tw/hp/b51.css"-->
<style type="text/css"> 
<!--
.mbody { font-family:"新細明體", "mingliu", "taipei";font-size: 16px; line-height: 20pt}
.sbody { font-family:"新細明體", "mingliu", "taipei";font-size: 13px; line-height: 150%;}
.ssbody { font-family:"新細明體", "mingliu", "taipei";font-size: 9pt}
.sstext { font-family:"新細明體", "mingliu", "taipei";font-size: 9pt; line-height: 12pt}
.mtext { font-family:"新細明體", "mingliu", "taipei";FONT-SIZE: 16px;}
.stext { font-family:"新細明體", "mingliu", "taipei";FONT-SIZE: 13px;} 
.estext { font-family:"arial","新細明體", "mingliu", "taipei";FONT-SIZE: 13px;} 
.c1 { font-family:"新細明體", "mingliu", "taipei"; font-size: 12pt}
.c2 { font-family:"新細明體", "mingliu", "taipei"; font-size: 13px; line-height: 200%;}
.c3 { font-family:"新細明體", "mingliu", "taipei"; font-size: 10pt; line-height: 20pt}
.maf { font-family:"新細明體", "mingliu", "taipei"; font-size: 12px; line-height: 150%; }
.t { font-family:"新細明體", "mingliu", "taipei"; font-size: 12pt; color:#ffffff}
.aa { Background-color:#78B4EF} 
.bb { Background-color:#5E7BA8} 
.cc { Background-color:#93E4FF} 
A:hover { COLOR: red}
.style1 {
 color: #8BB3C2;
 font-weight: bold;
}
#link
 {font-size:16px;
 }
-->
</style> 
</head> 
<body bgcolor="#FFFFFF" text="#000000"> 
<style type="text/css"> 
.sbody{font-size:13px arial,helvetica,clean,sans-serif; line-height:150%;}
.sbody a{font-size:13px arial,helvetica,clean,sans-serif; color:003399;text-decoration:none;}
.sbody a:hover{font-size:13px arial,helvetica,clean,sans-serif; text-decoration:underline;}
.style1 {
 color: #8BB3C2;
 font-weight: bold;
}
#link
 {font-size:13px;
 }
</style> 
<style type="text/css"> 
<!--
a:link, a:visited{text-decoration:none}
a:hover{color:#0353a5;text-decoration:underline}
a:link{color:#013299}
a:visited{color:#800080}
html>body spacer{display:block}
-->
</style> 
<center> 
<table width="750" border="0" align="center" cellpadding="0" cellspacing="0" class="top"> 
 <tr> 
 <td height="20" valign="bottom" align="center"> 
<table width="750" border="0" cellspacing="0" cellpadding="0"> 
<tr><td valign="top"><div id="yhtw_masthead"> 
  

  <div id="logo">
     <%= link_to( image_tag("/images/HeyGoTimes_logo.png"), {:controller =>'paper'}, {:title => 'to home page'} ) %>
  </div>


 <div class="mhuser"><div> 
 
 </div></div> 

 </form>
 </div>

</div></td> 
 </tr> 
</table> 
</center> 
 <tr> 
 <td valign="bottom" style="height: 8pt"> 　<tr> 
 <td height="20" valign="bottom"> <div class="ms"> 
 <table border="0" width="100%" cellspacing="0" cellpadding="5" style="border-collapse: collapse" bordercolor="#111111"> 
 <tr> 
 <td width="100%" bgcolor="#F5EEFF"><font size="+1" face="arial"><b>HeyGo! Times(黑狗日報)服務條款</b></font></td>
 </tr> 
</table> 
<table border="0" width="100%" cellspacing="3" cellpadding="10" style="border-collapse: collapse" bordercolor="#111111"> 
 <tr>
 <br>
 <td width="100%" class="mbody"><strong>1. 認知與接受條款</strong> <br> 
 <br> 
<a href="<%= root_url %>">HeyGo! Times(黑狗日報)</a>
   係依據本服務條款提供服務 (以下簡稱「本服務」)。當您使用本服務時，即表示您已閱讀、瞭解並同意接受本服務條款之所有內容。
   此外，當您使用 HeyGo! Times(黑狗日報) 的特定服務時，可能會依據該特定服務之性質，
   而須遵守 HeyGo! Times(黑狗日報) 所另行公告之服務條款或相關規定。此另行公告之服務條款或相關規定亦均併入屬於本服務條款之一部分。
    HeyGo! Times(黑狗日報) 有權於任何時間修改或變更本服務條款之內容，建議您隨時注意該等修改或變更。您於任何修改或變更後繼續使用本服務，
   視為您已閱讀、瞭解並同意接受該等修改或變更。如果您不同意本服務條款的內容，或者您所屬的國家或地域排除本服務條款內容之全部或一部時，
   您應立即停止使用本服務。<br>
 <br> 
若您為未滿二十歲，除應符合上述規定外，並應於您的家長（或監護人）閱讀、瞭解並同意本服務條款之所有內容及其後修改變更後，
   方得使用或繼續使用本服務。當您使用或繼續使用本服務時，即推定您的家長（或監護人）已閱讀、瞭解並同意接受本服務條款之所有內容及其後修改變更。 <br>
 <p><br> 
 <strong>2. 與第三方網站的連結 </strong><br>
 <br> 
 本服務或協力廠商可能會提供連結至其他網站或網路資源的連結。您可能會因此連結至其他業者經營的網站，但不表示與該等業者有任何關係。
   其他業者經營的網站均由各該業者自行負責，不屬 HeyGo! Times(黑狗日報) 控制及負責範圍之內。
    HeyGo! Times(黑狗日報) 對任何檢索結果或外部連結，不擔保其合適性、可依賴性、即時性、有效性、正確性及完整性。
   您也許會檢索或連結到一些令您厭惡或不需要的網站，這是網際網路運作的可能結果，遇到此類情形時，
   HeyGo! Times(黑狗日報) 建議您不要瀏覽或儘速離開該等網站。
   您並同意 HeyGo! Times(黑狗日報) 無須為您連結至非屬於 HeyGo! Times(黑狗日報) 之網站所生之任何損害，負損害賠償之責任。<br>
 </p> 
 <p><br> 
 <strong>3. 您的註冊義務</strong><br> 
 <br> 
 為了能使用本服務，您同意以下事項：<br>
 (a) &nbsp;&nbsp;&nbsp;
 本服務並無註冊之義務，唯使用facebook帳號登入之用戶將可使用較進階之功能;<br>
 (b) &nbsp;&nbsp;&nbsp;
 若您刊登不實或違反法律與善良風俗之新聞與留言， HeyGo! Times(黑狗日報) 有權暫停或終止您的帳號，並拒絕您使用本服務之全部或一部。<br>
 </p> 
 <p><br> 
 <strong>4.  HeyGo! Times(黑狗日報) <a href="<%= root_url+"privacy/index" %>">隱私權政策</a></strong><br>
 <br> 
 關於您的會員註冊以及其他特定資料依 HeyGo! Times(黑狗日報) <a href="<%= root_url+"privacy/index" %>">
   「隱私權政策」</a>受到保護與規範。您了解當您使用本服務時，您同意 HeyGo! Times(黑狗日報) 依據
   <a href="<%= root_url+"privacy/index" %>">「隱私權政策」</a>進行您個人資料的蒐集與利用。<br>
 </p> 
 <p><br> 
 <strong>5. 會員帳號、密碼及安全</strong><br> 
 <br> 
 本服務並未提供帳號註冊功能，不會也無法記錄與應用您的facebook密碼，故您有責任自行維持密碼及帳號的機密安全。<br>
 </p> 
 <p><br> 
 <strong>6. 兒童及青少年之保護 </strong><br> 
 <br> 
 兒童及青少年上網已經成為無可避免之趨勢，使用網際網路獲取知識更可以培養子女的成熟度與競爭能力。
   然而網路上的確存有不適宜兒童及青少年接受的訊息，例如色情與暴力的訊息，兒童及青少年有可能因此受到心靈與肉體上的傷害。
   因此，為確保兒童及青少年使用網路的安全，並避免隱私權受到侵犯，家長（或監護人）應盡到下列義務：<br>
 <br> 
 a.先檢閱各該網站是否有保護個人資料的隱私權政策
   ，再決定是否同意提出相關的個人資料；並應持續叮嚀兒童及青少年不可洩漏自己或家人的任何資料
   （包括姓名、地址、電話、電子郵件信箱、照片、信用卡號等）給任何人。也不可以單獨接受網友的邀請或贈送禮物而與之見面。<br>
 b.謹慎選擇合適網站供兒童及青少年瀏覽。未滿十二歲之兒童上網時，應全程在旁陪伴，十二歲以上未滿十八歲之青少年上網前亦應斟酌是否給予同意。<br> 
 </p> 
 <p><br> 
 <strong>7. 使用者的守法義務及承諾 </strong><br> 
 <br> 
 您承諾絕不為任何非法目的或以任何非法方式使用本服務，並承諾遵守中華民國相關法規及一切使用網際網路之國際慣例。
   您若係中華民國以外之使用者，並同意遵守所屬國家或地域之法令。您同意並保證不得利用本服務從事侵害他人權益或違法之行為，包括但不限於：<br>
 A.
 上載、張貼、公布或傳送任何誹謗、侮辱、具威脅性、攻擊性、不雅、猥褻、不實、違反公共秩序或善良風俗或其他不法之文字、
   圖片或任何形式的檔案於本服務上；<br>
 B.
 侵害他人名譽、隱私權、營業秘密、商標權、著作權、專利權、其他智慧財產權及其他權利；
 <br> 
 C. 違反依法律或契約所應負之保密義務；<br> 
 D. 冒用他人名義使用本服務；<br> 
 E. 上載、張貼、傳輸或散佈任何含有電腦病毒或任何對電腦軟、硬體產生中斷、破壞或限制功能之程式碼之資料；<br> 
 F. 從事不法交易行為或張貼虛假不實、引人犯罪之訊息；<br> 
 G. 販賣槍枝、毒品、禁藥、盜版軟體或其他違禁物；<br> 
 H. 提供賭博資訊或以任何方式引誘他人參與賭博；<br> 
 I. 濫發廣告郵件、垃圾郵件、連鎖信、違法之多層次傳銷訊息等； <br> 
 J. 以任何方法傷害未成年人；<br> 
 K. 偽造訊息來源或以任何方式干擾傳輸來源之認定；<br> 
L. 干擾或中斷本服務或伺服器或連結本服務之網路，或不遵守連結至本服務之相關需求、程序、政策或規則等；<br>
M. 對於恐怖行動提供任何實質支持或資源；<br> 
N. 追蹤他人或其他干擾他人或為前述目前蒐集或儲存他人之個人資訊；<br> 
O. 其他 HeyGo! Times(黑狗日報) 有正當理由認為不適當之行為。<br>
 </p> 
 <p><br> 
 <strong>8. 系統中斷或故障 </strong><br> 
 <br> 
 本服務有時可能會出現中斷或故障等現象，或許將造成您使用上的不便、資料喪失、錯誤、遭人篡改或其他經濟上損失等情形。
   您於使用本服務時宜自行採取防護措施。 HeyGo! Times(黑狗日報) 對於您因使用（或無法使用）本服務而造成的損害，除故意或重大過失外，不負任何賠償責任。
   <br>
 <strong><br> 
 </strong></p> 
 <p><strong>9. 關於使用及儲存之一般措施</strong><br> 
 <br> 
您同意 HeyGo! Times(黑狗日報) 得就本服務訂定一般措施及限制，包含但不限於本服務將保留新聞、留言或其他上載內容之最長期間。
   若 HeyGo! Times(黑狗日報) 將本服務維持或傳送之任何訊息、通訊和內容刪除或未予儲存，您同意 HeyGo! Times(黑狗日報) 毋須承擔任何責任。
   您也同意， HeyGo! Times(黑狗日報) 有權依其自行之考量，不論通知與否，隨時變更這些一般措施及限制。
    HeyGo! Times(黑狗日報) 的其他帳戶會儲存與您在本服務中的對話，您對本服務條款的同意，即代表您允許 HeyGo! Times(黑狗日報) 在其伺服器上儲存這些通訊內容。
 <br> 
 </p> 
 <p><br> 
 <strong>10. 資訊或建議</strong><br> 
 <br> 
  HeyGo! Times(黑狗日報) 對於您使用本服務或經由本服務連結之其他網站而取得之資訊或建議
   （包括但不限於，商務、投資理財、醫療、法律等方面），不擔保其為完全正確無誤。
   HeyGo! Times(黑狗日報) 對於本服務所提供之資訊或建議有權隨時修改或刪除。您在做出任何相關規劃與決定之前，
   仍應請教專業人員針對您的情況提出意見，以符合您的個別需求。<br>
  HeyGo! Times(黑狗日報) 隨時會與其他公司、廠商等第三人（「內容提供者」）合作，由其提供包括新聞、訊息、電子報等不同內容供 HeyGo! Times(黑狗日報) 刊登，
    HeyGo! Times(黑狗日報) 於刊登時均將註明內容提供者。
   基於尊重內容提供者之智慧財產權， HeyGo! Times(黑狗日報) 對其所提供之內容並不做實質之審查或修改，
   對該等內容之正確真偽亦不負任何責任。對該等內容之正確真偽，您宜自行判斷之。您若認為某些內容涉及侵權或有所不實，
   請逕向該內容提供者反應意見。
 </p> 
 <p><br> 
 <strong>11. 廣告 </strong><br> 
 <br> 
您在本服務中瀏覽到的所有廣告內容、文字與圖片之說明、展示樣品或其他銷售資訊，均由各該廣告商、產品與服務的供應商所設計與提出。
   您對於廣告之正確性與可信度應自行斟酌與判斷。 HeyGo! Times(黑狗日報) 僅接受委託予以刊登，不對前述廣告負擔保責任。 <br>
</p> 
 <p><br> 
 <strong>12. 買賣或其他交易行為 </strong> <br> 
 <br> 
廠商或個人可能透過本服務或經由本服務連結之其他網站提供商品買賣、服務或其他交易行為。
   您若因此與該等廠商或個人進行交易，各該買賣或其他合約均僅存在您與各該廠商或個人兩造之間。
   您應要求各該廠商或個人，就其商品、服務或其他交易標的物之品質、內容、運送、保證事項與瑕疵擔保責任等，事先詳細闡釋與說明。
   您因前述買賣、服務或其他交易行為所產生之爭執，應向各該廠商或個人尋求救濟或解決之道。 HeyGo! Times(黑狗日報) 聲明絕不介入您與廠商或個人間的
   任何買賣、服務或其他交易行為，對於您所獲得的商品、服務或其他交易標的物亦不負任何擔保責任。
 <br>
 </p> 
 <p><br> 
 <strong>13. 免責聲明</strong> <br> 
 <br> 
您明確了解並同意：
 HeyGo! Times(黑狗日報) 對本服務及軟體不提供任何明示或默示的擔保，包含但不限於權利完整、商業適售性、特定目的之適用性及未侵害他人權利。
   本服務及軟體乃依其「現狀」及「提供使用時」之基礎提供，您使用本服務及軟體時，須自行承擔相關風險。 HeyGo! Times(黑狗日報) 不保證以下事項：
   (i)本服務及軟體將符合您的需求，(ii)本服務及軟體不受干擾、及時提供、安全可靠或無錯誤，(iii)由本服務及軟體之使用而取得之結果為正確或可靠，
   (iv)您經由本服務購買或取得之任何產品、服務、資訊或其他資料將符合您的期望及(v)任何軟體中之錯誤將被修正。
是否經由本服務及軟體之使用下載或取得任何資料應由您自行考量且自負風險，並拋棄因前開任何資料之下載而導致您電腦系統、網路存取、
   下載或播放設備之任何損壞或資料流失，對 HeyGo! Times(黑狗日報) 提出任何請求或採取法律行動，您應自負完全責任。
您自 HeyGo! Times(黑狗日報) 或經由本服務或軟體取得之建議和資訊，無論其為書面或口頭，均不構成本服務或軟體之保證。
<br>您明確了解並同意 HeyGo! Times(黑狗日報) 經理人、受僱人、代理人、合夥人及授權人， 無須為您任何直接、間接、附隨、特別、衍生、
   懲罰性的損害負責，包括但不限於因下述事由所生利潤、商譽、使用、資料之損害或其他無形損失
   （即令 HeyGo! Times(黑狗日報) 曾被告知該等損害之可能性亦同）：(i)使用或無法使用本服務；
   (ii)替代商品及服務之購買成本；(iii)他人未經授權存取或修改您的傳輸或資料；(iv)任何第三人就本服務所為之聲明或行為，或
   (v)任何其他與本服務有關者。部分管轄區域並不允許對於特定保證責任的排除或是對於附隨或衍生損害的限制或免除。
   於此情形，本條前述限制對您不適用。
 </p> 
 <p><br> 
 <strong>14. 金融相關服務</strong><br> 
 <br> 
本服務之目的為提供資訊，非供交易或投資之目的。經由本服務傳送之任何資訊之正確性與適用性， HeyGo! Times(黑狗日報) 及該資訊之提供者均不承擔任何責任。
   基於前開資料之任何交易或投資決定， HeyGo! Times(黑狗日報) 亦不予負責。
<br> 
 </p> 
 <p><br> 
 <strong>15.會員行為 </strong><br> 
 <br> 
 由會員公開張貼或私下傳送的資訊、資料、文字、軟體、音樂、音訊、照片、圖形、視訊、信息或其他資料（以下簡稱「會員內容」），
   均由「會員內容」提供者自負責任。 HeyGo! Times(黑狗日報) 無法控制經由本服務而張貼之「會員內容」，因此不保證其正確性、完整性或品質。
   您了解使用本服務時，可能會接觸到令人不快、不適當、令人厭惡之「會員內容」。在任何情況下， HeyGo! Times(黑狗日報) 均不為任何「會員內容」負責，
   包含但不限於任何錯誤或遺漏，以及經由本服務張貼、發送電子郵件或傳送而衍生之任何損失或損害。<br>
   您了解 HeyGo! Times(黑狗日報) 並未針對「會員內容」事先加以審查，但 HeyGo! Times(黑狗日報) 有權（但無義務）依其自行之考量，
   拒絕或移除經由本服務提供之任何「會員內容」。在不限制前開規定之前提下， HeyGo! Times(黑狗日報) 及其指定人有權將有違反本服務條款或法令之虞、
   或令人厭惡之任何「會員內容」加以移除。您使用任何「會員內容」時，就前開「會員內容」之正確性、完整性或實用性之情形，
   您同意必須自行加以評估並承擔所有風險。 您了解並同意， HeyGo! Times(黑狗日報) 依據法律的要求，或基於以下目的之合理必要範圍內，
   認定必須將您的帳戶資訊或「會員內容」加以保存或揭露予政府機關、司法警察或未成年人之監護人時，
   得加以保存及揭露：(a)遵守法令或政府機關之要求，(b)為提供本服務所必須者，(c) 為防止他人權益之重大危害而有必要者，或
   (d)為免除使用者及公眾之生命、身體、自由、權利、財產上之急迫危險者。<br>
   您了解本服務及本服務所包含之軟體，可能含有使數位資料得以被保護之安全元件，使用該等資料必須依 HeyGo! Times(黑狗日報) 或提供該內容予本服務之
   內容提供者所定的使用規則。您不得試圖破壞或規避任何內含於本服務之使用規則。
   任何未經合法授權之重製、發行、散布或公開展示本服務所提供之資料之全部或一部，均被嚴格禁止。
 </p><br> 
 <p><br> 
 <strong>16. 智慧財產權的保護 </strong><br> 
 <br> 
  HeyGo! Times(黑狗日報) 所使用之軟體或程式、網站上所有內容，
   包括但不限於著作、圖片、檔案、資訊、資料、網站架構、網站畫面的安排、網頁設計、會員內容等，
   均由 HeyGo! Times(黑狗日報) 或其他權利人依法擁有其智慧財產權，包括但不限於商標權、專利權、著作權、營業秘密與專有技術等。
   任何人不得逕自使用、修改、重製、公開播送、公開傳輸、公開演出、改作、散布、發行、公開發表、進行還原工程、解編或反向組譯。
   若您欲引用或轉載前述軟體、程式或網站內容，除明確為法律所許可者外，必須依法取得 HeyGo! Times(黑狗日報) 或其他權利人的事前書面同意。
   尊重智慧財產權是您應盡的義務，如有違反，您應對 HeyGo! Times(黑狗日報) 負損害賠償責任。
    HeyGo! Times(黑狗日報) 為行銷宣傳本服務，就本服務相關之商品或服務名稱、圖樣等
   （以下稱「 HeyGo! Times(黑狗日報) 商標」），依其註冊或使用之狀態，受商標法及公平交易法等之保護，
   未經 HeyGo! Times(黑狗日報) 事前書面同意，您同意不以任何方式使用 HeyGo! Times(黑狗日報) 商標。<br>
 </p> 
 <p><br> 
 <strong>17. 您對 HeyGo! Times(黑狗日報) 之授權 </strong><br><br>
若您無合法權利得授權他人使用、修改、重製、公開播送、改作、散布、發行、公開發表某資料，
   並將前述權利轉授權第三人，請勿擅自將該資料上載、傳送、輸入 或提供予 HeyGo! Times(黑狗日報) 。
   您所上載、傳送、輸入或提供予 HeyGo! Times(黑狗日報) 之任何資料，其權利仍為您或您的授權人所有；
   但任何資料一經您上載、傳送、輸入 或提供予 HeyGo! Times(黑狗日報) 時，即表示您同意：
   (1)由 HeyGo! Times(黑狗日報) 儲存或管理該資料，並由 HeyGo! Times(黑狗日報) 之搜尋工具進行索引及抓取，並公開刊登、
   使用於 HeyGo! Times(黑狗日報) 的相關系統網路上，包括但不限於 HeyGo! Times(黑狗日報) 所聯盟或合作的第三人網站上；
   (2)授權 HeyGo! Times(黑狗日報) 可以基於公益或為宣傳、推廣或經營 HeyGo! Times(黑狗日報) 及本服務之目的，
   進行使用、修改、重製、公開播送、改作、散布、發行、公開發表、公開傳輸、公開上映、翻譯該等資料，
   並得在此範圍內將前述權利轉授權他人。您並保證 HeyGo! Times(黑狗日報) 使用、修 改、重製、公開播送、改作、散布、發行、公開發表、公開傳輸、
   公開上映、翻譯、轉授權該等資料，不致侵害任何第三人之智慧財產權，否則應對 HeyGo! Times(黑狗日報) 負損害賠償責任。<br>
 </p> 
 <p><br> 
  <strong>18. 不得為商業利用 </strong><br><br>
您同意不對本服務任何部分或本服務之使用或存取，進行重製、拷貝、出售、交易、轉售或作任何商業目的之使用。
   <br>
</p> 
 <p><br> 
 <strong>19. 服務變更 </strong><br><br>
 HeyGo! Times(黑狗日報) 保留於任何時點，不經通知隨時修改或暫時或永久停止繼續提供本服務（或其任一部分）的權利。
   您同意 HeyGo! Times(黑狗日報) 對於您或是任何第三方對於任何修改、暫停或停止繼續提供本服務負任何責任。<br>
</p> 
 <p><br> 
 <strong>20. 終止 </strong><br><br>
您同意 HeyGo! Times(黑狗日報) 得依其判斷因任何理由，包含但不限於一定期間未使用、法院或政府機關命令、本服務無法繼續或服務內容實質變更、
   無法預期之技術或安全因素或問題、您所為詐欺或違法行為，
   或其他 HeyGo! Times(黑狗日報) 認為您已經違反本服務條款的明文規定及精神，而終止或限制您使用帳號（或其任何部分）或本服務之使用，
   並將本服務內任何「會員內容」加以移除並刪除。您並同意 HeyGo! Times(黑狗日報) 亦得依其自行之考量，
   於通知或未通知之情形下，隨時終止或限制您使用本服務或其任何部分。您承認並同意前開終止或限制，
    HeyGo! Times(黑狗日報) 得立即關閉、刪除或限制存取您的帳號及您帳號中全部或部分相關資料及檔案，及停止本服務全部或部分之使用。
   此外，您同意若本服務之使用被終止或限制時， HeyGo! Times(黑狗日報) 對您或任何第三人均不承擔責任。<br>
</p> 
 <p><br> 
 <strong>25. 一般條款 </strong><br><br> 
本服務條款構成您與 HeyGo! Times(黑狗日報) 就您使用本服務之完整合意，取代您先前與 HeyGo! Times(黑狗日報) 間有關本服務所為之任何約定；
本服務條款之解釋與適用，以及與本服務條款有關的爭議，除法律另有規定者外，均應依照中華民國法律予以處理，
   並以台灣台北地方法院為第一審管轄法院。
<br> 
 HeyGo! Times(黑狗日報) 未行使或執行本服務條款任何權利或規定，不構成前開權利或規定之棄權。若任何本服務條款規定，
   經有管轄權之法院認定無效，當事人仍同意法院應努力使當事人於前開規定所表達之真意生效，且本服務條款之其他規定仍應完全有效。
<br> 
您同意您的 HeyGo! Times(黑狗日報) 帳號係不可轉讓，且您 HeyGo! Times(黑狗日報) 帳號或帳號中內容之任何權利，於您死亡時即立刻終止。
   於Yahoo!奇摩接獲您的死亡證明文件時，您的帳號將被終止，且其所有內容將被永久刪除。
本服務條款之標題僅係為方便起見，不具任何法律或契約效果。
若有任何違反本服務條款之行為，請立即與 HeyGo! Times(黑狗日報) 聯絡。
<br> 
</p> 
 </td> 
 </tr> 
 <tr> 
 <td width="100%"></td> 
 </tr> 
</table> 
 <p><p><p><p> 

   </html>
<!-- w201.info.platform.tw1.yahoo.com compressed/chunked Fri Jul  8 11:36:51 CST 2011 --> 