

<div  class="footer" align = "center">

  <input
     type="button"
     name="groovybtn1"
     class="groovybutton_W"
     value="<%= t(:to_top) %>"
     title=""
     style="float: left"
     onclick="window.scrollTo(0,0) ;">


HeyGo © 2012 &nbsp;&nbsp;&nbsp;&nbsp;


<%= link_to t(:Home),{:controller => 'paper'} %>


<%# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ %>
<% # FAQ功能就是一個新聞頁面 (it's a tag - "FAQ") %>
<%# 將session[:filter_tags]設為"HGTimesNotice", 並顯示新聞畫面 %>
&nbsp;
<a id='show_faq' href='#'><%= t(:FAQ) %></a>
&nbsp;

<%= link_to t(:privacy),{:controller => 'privacy'} %>  &nbsp;
<%= link_to t(:terms),{:controller => 'terms_of_service'}%>   &nbsp;



   <!-- todo:  find a suitable FEEDBACK-Management-System !!!!! ....  using facebook-fans-group first -->
   <!--
   <a href='#' onclick="alert('<%= t(:feedback_message) %>') ;"><%= t(:feedback) %></a>
    -->
   <a href='https://www.facebook.com/pages/HeyGo-Times-%E5%8F%B0%E7%81%A3/131802886903681'
        onclick="alert('<%= t(:feedback_message) %>') ;"><%= t(:feedback) %></a>


 &nbsp;
 <a id='show_feedback' href='#'><%= t(:response) %></a>


<!--
&nbsp;
<%# 將session[:filter_tags]設為"HGTimesNotice", 並顯示新聞畫面 %>
<a id='show_notice' href='#'><%= t(:notice) %></a>
-->


<%# 進入手機瀏覽模式  %>
<div style="float:right;">
<%= link_to t(:mobileSite),{:controller => 'mobile'} %>  &nbsp;
</div>

</div>

