<script>
  function to_report_dialog()
  {


      //console.log($('#FeedbackTag2')) ;

      //var oNewP = $("<span>Feedback</span>");
      //oNewP.insertAfter("#All");
      alert("<%= t(:feedback_hint)%>") ;

      for(i=0;i<($('input').length);i++)
      {
          console.log($('input')[i]) ;
          if( $('input')[i].type == "checkbox")
          {
               $('input')[i].disabled = true ;
               $('input')[i].checked = false ;
          }
      }

      $('#FeedbackTag_box')[0].disabled = false ;
      $('#FeedbackTag_box')[0].checked = true ;
      $('#FeedbackTag_box')[0].style.display= "" ;
      $('#FeedbackTag_lab')[0].style.display= "" ;

      $('#filter_dlg_t2')[0].style.display = "none" ;
      $('#filter_dlg_t6')[0].style.display = "none" ;
      $('#url_input')[0].style.display = "none" ;
      $('#image_url')[0].style.display = "none" ;



  }


  function show_feedback_list()
  {
      alert("<%= t(:response_hint) %>") ;

      var data = "tag_filter=FeedbackTag/&friend_filter=mine/&date_filter_option=no_limited&date_filter=1971-11-12&area_filter=" ;

      // send to server
      $.ajax(
      {
          type: "GET",
          url:"/paper/set_filter_setting",
          data: data,
          success: function(html)
          {
              // redirect to main page in order to redraw the news by new filter!
               window.location.replace("/");
          }
      });

      return false ;

  }

  function show_notice_list()
  {
      alert("<%= t(:notice_hint) %>") ;

      // TODO: 必須判斷user的locale, 據此設定area filter
      var data = "tag_filter=HGTimesNotice/&friend_filter=/&date_filter_option=no_limited&date_filter=1971-11-12&area_filter=Taiwan" ;

      // send to server
      $.ajax(
      {
          type: "GET",
          url:"/paper/set_filter_setting",
          data: data,
          success: function(html)
          {
              // redirect to main page in order to redraw the news by new filter!
               window.location.replace("/");
          }
      });

      return false ;

  }

</script>



<div  class="footer" align = "center">


HeyGo © 2011 &nbsp;&nbsp;&nbsp;&nbsp;


<%= link_to 'FAQ',{:controller => 'faq'},{:title => 'Show FAQ'}%>  &nbsp;
<%= link_to t(:privacy),{:controller => 'privacy'},{:title => 'Show Privacy'}%> &nbsp;
<%= link_to t(:terms),{:controller => 'terms_of_service'},{:title => '使用條款'}%>   &nbsp;

<%# ~~~~~~~~~~~To do ~~~~~~~~~~~~~~~~~~ %>
<% # Feedback功能就是一個新聞頁面 (it's a tag - "FeedbackTag") %>
<% # tddo: 效果如同Report的畫面, 但會無條件設定 FeedbackTag 這個tag %>
 &nbsp;
 <a href='#' name='btn1' class='osx btn1' onclick="to_report_dialog()"><%= t(:feedback) %></a>


<%# 將session[:filter_tags]設為"FeedbackTag", 並顯示新聞畫面 %>
 &nbsp;
 <a href='#'  onclick="show_feedback_list()"><%= t(:response) %></a>



&nbsp;
<%# 將session[:filter_tags]設為"HGTimesNotice", 並顯示新聞畫面 %>
<a href='#'  onclick="show_notice_list()"><%= t(:notice) %></a>



<%# 進入手機瀏覽模式  %>
<div style="float:right;">
<%= link_to t(:mobileSite),{:controller => 'mobile'},{:title => '手機瀏覽模式'}%>  &nbsp;
</div>

</div>

