

<!DOCTYPE html>
<html>
<head>
  <title>My Private Spaces</title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>
</head>

<div class="user">  
  <%= link_to "Logout", :logout unless !logged_in? %>  
</div>  

<body style="background: #EEEEEE;">

<%= yield %>

</body>
</html>